<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
		<!-- js -->
		
		<script src="../../jqery/jquery.js"></script>
		<script src="../../../commons/base.js"></script>
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script type="text/javascript" src="../../js/dictionary/editsmalldictInfo.js"></script>
	</head>

	<body>
		<div style="margin: 15px;"> 
		<div class="layui-form-item">
			 <input id="smsid" type="hidden" name="smsid" value="" class="layui-input" > 
			<label class="layui-form-label">小类编号</label>
			<div class="layui-input-block"> 
				<input id="dicSmallCode" type="text" name="dicSmallCode"   class="layui-input" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">小类名称</label>
			<div class="layui-input-block"> 
				<input id="dicSmallValue" type="text" name="dicSmallValue"   class="layui-input" >
			</div>
		</div> 
		<div class="layui-form-item">
			<label class="layui-form-label">小类状态</label> 
			<select name="dicSmallStaues" id="dicSmallStaues" >
			<option value=" "> </option>
			<option value="1">正常</option>
			<option value="2">停用</option> 
			</select>
			</div>
		</div>
		<input type="button" class="layui-btn" value="保存" onclick="save()" id="save_bt" style="margin-top: 30px;margin-left: 248px;" />
		<button class="layui-btn layui-btn-normal" id="closeIframe" onclick="closeIfrname()" style="margin-left: 70px;margin-top: 29px;" >取消</button>	 
</body>
</html>