<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <title>Insert title here</title> -->
</head>
		<!-- css -->
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />

		<!-- JS -->
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script src="../../jqery/jquery.js"></script>
		<script type="text/javascript" src="../../../commons/base.js"></script>
		<script type="text/javascript" src="../../js/application/application_detail.js"></script>
		
<body>
	<div style="margin: 15px;">
	
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现申请编号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">APP申请编号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现申请单业务编号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现类型</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>（1.新用户提现 2.老用户复借 大于等于20天 3.老用户复借 小于20天 4. 续借）
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">APP名称</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">APP应用客户编号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">用户姓名</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">用户手机号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">身份证号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">证件类型</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>（1.身份证 2.护照 3.其他）
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">距离审核通过日期天数</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现用户公网IP</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现审核时间</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现审批状态</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>（1-待审批、2-审批通过、3-审批未通过、4-待人工确认）
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">申请来源</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>（0—Android；1—IOS）
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现包规则对应编号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">审批结果描述</label>
			<div class="layui-input-inline" style="width:300px">
				<!-- <input type="hidden"   autocomplete="off" class="layui-input" readonly> -->
				<textarea rows="4" cols="56"   readonly></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">外部系统交互标识</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>（0-未推送App、1-已推送APP）
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">步骤标识</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
（0：待处理、1：芝麻信用评分、2：芝麻信用欺诈清单、3：同盾贷前审核、4：聚信立蜜蜂、5：聚信立蜜罐、6：芝麻行业清单、7：白骑士、8：91征信、9：91征信回调、10：小视科技、11：葫芦索伦、20：宜信、98：规则引擎模板分发、99：潘多拉拒绝名单） 
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">步骤处理异常描述</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="hidden"   autocomplete="off" class="layui-input" readonly>
				<textarea rows="4" cols="56"   readonly></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">创建时间</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">创建人</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">修改时间</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">修改人</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">备注</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">失败次数</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现包分发时间</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">提现包主键ID</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">客户标识</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">app下载渠道</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">App版本号</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label" style="width:200px">交互类型</label>
			<div class="layui-input-inline" style="width:300px">
				<input type="text"   autocomplete="off" class="layui-input" readonly>0.同步(dubbo) 1.异步(mq)'
			</div>
		</div>
		<!-- 同盾授权的token
		芝麻信用分的授权openid
		聚信立的token
		提现申请单的执行顺序 -->
		
		
		

 		<button class="layui-btn layui-btn-normal"  id="closeIframe" onclick="closeIfrname()"  style="margin-left: 380px;" >关闭</button>

	</div>
</body>
</html>