<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <title>Insert title here</title> -->
</head>
		<!-- css -->
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" /> 
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />

		<!-- JS -->
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script src="../../jqery/jquery.js"></script>
		<script type="text/javascript" src="../../../commons/base.js"></script>
		<script type="text/javascript" src="../../js/cuCustomerCheckApply/cuCustomerCheckApplyInfoList_info.js"></script> 
<body>
	<div style="margin: 15px;"> 
		<div>
<!-- 			<label>参数</label> -->
			<div class="layui-input-block">
				<textarea name="info" id="info" cols=100 rows=25  style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid;" > 
		</textarea>
			</div>
		</div>    
<!-- 		<button class="layui-btn layui-btn-normal" id="closeIframe" onclick="closeIfrname()" style="margin-left: 530px;margin-top: 2px;" >取消</button>	  -->
</div>
</body>
</html>