<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 		<title>Table</title> -->
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/global.css" media="all">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/table.css"/>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<META HTTP-EQUIV="expires" CONTENT="0">
	<link rel="stylesheet" href="../../css/lzh_login.css" media="all" />
</head>

<body>
<div class="admin-main">


    <blockquote class="layui-elem-quote">
        <form class="layui-form">
            <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
                <i class="layui-icon">&#xe608;</i> 添加报警类型
            </a>
            <!-- 查询条件 -->
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 80px;">错误代码：</label>
                <div class="layui-input-inline">
                    <input name="alarmCode" lay-verify="title" autocomplete="off" placeholder="错误代码" class="layui-input"
                           id="alarmCode">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 80px;">优先级：</label>
                <div class="layui-input-inline">
                    <select name="priority" lay-filter="select" lay-search=""
                            id="priority">
                        <option value="">直接选择或搜索选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 80px;">报警方式：</label>
                <div class="layui-input-inline">
                    <select name="alarmType" lay-filter="select" lay-search=""
                            id="alarmType">
                        <option value="">直接选择或搜索选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 125px;">第三方征信平台：</label>
                <div class="layui-input-inline">
                    <select name="thirdPartyCreditInvestigation" lay-filter="select" lay-search=""
                            id="thirdPartyCreditInvestigation">
                        <option value="">直接选择或搜索选择</option>
                    </select>
                </div>
            </div>
            <a href="javascript:;" class="layui-btn layui-btn-small" id="search">
                <i class="layui-icon">&#xe615;</i> 搜索
            </a>
        </form>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>数据列表</legend>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table" style="word-break: keep-all;overflow:auto;">
                <thead>
                <tr>
                    <!--<th style="width: 30px;">-->
                        <!--<input type="checkbox" lay-filter="allselector" lay-skin="primary"></th>-->
                    <th>序号</th>
                    <th>错误码</th>
                    <th>错误信息</th>
                    <th>优先级</th>
                    <th>报警方式</th>
                    <th>平台</th>
                    <th style="min-width: 150px;">创建时间</th>
                    <th style="min-width: 150px;">修改时间</th>
                    <th style="min-width: 150px;">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
            <label>共<font color='red' id="count_page_number"></font>条记录</label>
            <div id="paged" class="page" style="display:inline-block;">
            </div>
        </div>
    </fieldset>

</div>
<!--模板-->
<script type="text/html" id="tpl">
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <!--<td><input type="checkbox" lay-skin="primary"></td>-->
        <td>{{ index+1 }}</td>
        <td>{{ item.alarmCode }}</td>
        <td>{{ item.alarmMsg }}</td>
        <td>
            {{# if(item.priority === 0){ }}
                非常严重
            {{# } }}
            {{# if(item.priority === 1){ }}
                严重
            {{# } }}
            {{# if(item.priority === 2){ }}
                普通
            {{# } }}
        </td>
        <td>
            {{# if(item.alarmType === 0){ }}
                钉钉
            {{# } }}
            {{# if(item.alarmType === 1){ }}
                短信
            {{# } }}
            {{# if(item.alarmType === 2){ }}
                邮件
            {{# } }}
            {{# if(item.alarmType === 3){ }}
                钉钉和短信
            {{# } }}
            {{# if(item.alarmType === 99){ }}
                无
            {{# } }}
        </td>
        <td>
            {{# if(item.thirdPartyCreditInvestigation === 1){ }}
                芝麻信用评分
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 2){ }}
                芝麻信用欺诈清单
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 3){ }}
                同盾贷前审核
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 4){ }}
                聚信立蜜蜂
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 5){ }}
                聚信立蜜罐
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 6){ }}
                芝麻行业清单
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 7){ }}
                白骑士
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 8){ }}
                91征信
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 9){ }}
                91征信回调
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 10){ }}
                索伦
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 11){ }}
                宜信
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 12){ }}
                小视科技
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 13){ }}
                数聚魔盒
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 81){ }}
                申请单数量超过系统参数阀值
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 82){ }}
                阿里云入库mongodb
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 83){ }}
                MQ其它
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 84){ }}
                JSON文件上传
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 85){ }}
                大数据
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 86){ }}
                客户短信
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 87){ }}
                客户app应用列表
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 88){ }}
                客户通讯录信息
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 89){ }}
                客户通话记录
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 90){ }}
                风控配置项
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 91){ }}
                系统配置项
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 92){ }}
                定时任务配置管理
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 93){ }}
                催收对接
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 94){ }}
                客户信息对接
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 95){ }}
                app对接
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 96){ }}
                审批状态变更
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 97){ }}
                APP状态同步告警
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 98){ }}
                潘多拉后台管理报警
            {{# } }}
            {{# if(item.thirdPartyCreditInvestigation === 99){ }}
                其他报警
            {{# } }}
        </td>
        <td>{{ item.createTime }}</td>
        <td>{{ item.modifyTime }}</td>
        <td>
            <a href="javascript:;" data-id="{{ item.alarmId }}" data-opt="find"
               class="layui-btn layui-btn-normal layui-btn-mini">预览</a>
            <a href="javascript:;" data-id="{{ item.alarmId }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
            <a href="javascript:;" data-id="{{ item.alarmId }}" data-opt="del"
               class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
        </td>
    </tr>
    {{# }); }}
</script>

<!-- js -->
<script src="../../jqery/jquery.js"></script>
<script src="../../../commons/base.js"></script>
<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
<script type="text/javascript" src="../../js/alarm/alarm_list.js"></script>
</body>

</html>