<!DOCTYPE html>
<html>
	<head>
	<base target="_Self">
		<meta charset="UTF-8">
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Expires" CONTENT="0"> 
		<title>客户提额申请明细表</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
		<link rel="stylesheet" href="../../css/lzh_xy_shenghe.css" media="all" />
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<!-- js -->
		<script src="../../jqery/jquery.js"></script>
		<script src="../../../commons/base.js"></script>
		<!-- 日期控件 -->
	   <script type="text/javascript" src="../../js/promoteDetailed/promoteDetailed.js"></script>
	</head>
	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote"> 
				<!-- 查询条件 -->
			<form action="" class="layui-form" >
			    <div class="layui-inline">
			      <label class="layui-form-label" >客户编号</label>
			      <div class="layui-input-inline">
			       <input id="customerId" type="text" name="customerId" placeholder="" class="layui-input">
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label">app请求流水号</label>
			      <div class="layui-input-inline">
			       <input id="appSerialNumber" type="text" name="appSerialNumber" placeholder=""  class="layui-input">
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label" >采集状态</label>
				     <div class="layui-input-inline">
				      <select name="collectState" id="collectState" class="layui-input">
				          <option value="00" selected="selected">全部</option>
				          <option value="0">未采集</option>
				          <option value="1">采集成功</option>
				          <option value="2">采集失败</option>
				       </select> 
			      	</div>
			    </div>
			    
			    <div class="layui-inline">
			      <label class="layui-form-label">是否推送app</label>
			      <div class="layui-input-inline">
				      <select name="pushType" id="pushType" class="layui-input">
				          <option value="00" selected="selected">全部</option>
				          <option value="0">未推送</option>
				          <option value="1">已推送</option>
				       </select> 
			      	</div>
			    </div>
			    
				<br/>
				<br/>
			     <div class="layui-inline">
			      <label class="layui-form-label" >用户姓名</label>
			      <div class="layui-input-inline">
			       <input id="userName" type="text" name="userName" placeholder="" class="layui-input">
			      </div>
			    </div>
			     <div class="layui-inline">
			      <label class="layui-form-label" >用户手机号</label>
			      <div class="layui-input-inline">
			       <input id="phone" type="text" name="phone" placeholder="" class="layui-input">
			      </div>
			    </div>
			     <div class="layui-inline">
			      <label class="layui-form-label">用户身份证号</label>
			      <div class="layui-input-inline">
			       <input id="idCard" type="text" name="idCard" placeholder="" class="layui-input">
			      </div>
			    </div>
			     <div class="layui-inline">
			      <label class="layui-form-label" >app下载渠道</label>
			      <div class="layui-input-inline">
			       <input id="appChannel" type="text" name="appChannel" placeholder="" class="layui-input">
			      </div>
			    </div>
			     <div class="layui-inline">
			       <label class="layui-form-label">数据存储类型</label>
				     <div class="layui-input-inline" id="divDel" style="width:135px;">
				      <select name="taskType" id="taskType" class="layui-input">
				          <option value="00" selected="selected">全部</option>
				          <option value="06002">聚信立学信</option>
				          <option value="06003">聚信立电商</option>
				          <option value="06004">聚信立社保</option>
				          <option value="06005">聚信立公积金</option>
				          <option value="06006">聚信立人行征信</option>
				       </select> 
			      	</div>
			    </div>
			    <br/><br/>
				<div class="layui-inline">
			      <label class="layui-form-label" >日期</label>
			      <div class="layui-input-inline">
			      <input name="startTime"  lay-verify="startTime" id="startTime" autocomplete="off" class="layui-input"  style="width: 155px; display:inline;">
			      <div class="layui-inline" style="width:30px;" align="center">&nbsp;至&nbsp;</div>
			      <input name="endTime"  lay-verify="endTime" id="endTime" autocomplete="off" class="layui-input"  style="width: 155px; display:inline;">
			      </div>
			    </div>
			    &nbsp;&nbsp;&nbsp;&nbsp;
				<div class="layui-inline">
					<a href="javascript:;" class="layui-btn layui-btn-small"  onclick="sel()">
					<i class="layui-icon">&#xe615;</i>搜索
				</a>
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="layui-inline">
					<a href="javascript:;" class="layui-btn layui-btn-small"  onclick="reset()">
					<i class="layui-icon">&#xe642;</i>重置
				</a>
				</div>
				<br/>
				<br/>
				 
				<div class="layui-inline">
					<input type="hidden" name="sendVal" id="sendVal"/>
					<a href="javascript:;" class="layui-btn layui-btn-small"  onclick="sendQueue()">
					<i class="layui-icon">&#xe642;</i>一键重发&nbsp;<font color = 'red' id="sendQueue"></font>&nbsp;条
				</a>
				</div>
				<div class="layui-inline">
					<a href="#" class="layui-btn layui-btn-small" id="getuserInfo" style="margin-left: 18px" >
							<i class="layui-icon" aria-hidden="true" >&#xe63c;</i>用户信息详情
				 	</a>
			 	</div>
			 	<div class="layui-inline">
			 		<input type="hidden" name="pushAppVal" id="pushAppVal"/>
					<a href="#" class="layui-btn layui-btn-small"  onclick="sendPushAppStatus()" id="pushApp" style="margin-left: 18px" >
							<i class="layui-icon" aria-hidden="true" >&#xe63c;</i>根据条件手工推送APP
				 	</a>
			 	</div>
			</form>
		</blockquote> 
		
		</div>
			<fieldset class="layui-elem-field" style="width:3800px;">
				<br>
				
				<div class="layui-field-box layui-form" style="width:3800px;">
					<table class="layui-table admin-table" >
						<thead>
							<tr> 
								<th>
									
								</th>
								<!-- <th>提额明细表编号</th> -->
								<th>app请求流水号</th>
								<th>客户编号</th>
								<th>任务编号</th>
								<th>用户姓名</th>
								<th>用户手机号</th>
								<th>用户身份证号</th>
								<th>是否异常单子</th>
								<th>步骤异常信息描述</th> 
								<th>失败次数</th>
								<th>是否有公积金</th>
								<th>是否有社保</th>
								<th>客户已有额度</th> 
								<th>客户新增额度</th> 
								<!-- <th>APP名称</th> -->
								<th>数据存储类型</th>
								<th>app下载渠道</th>
								<th>客户标识</th>
								<th>用户已还款次数</th>
								<th>当天借当天还次数</th>
								<th>采集状态</th> 
								<th>是否推送app</th> 
								<th>json路径</th> 
								<th>创建时间</th> 
								<th>修改时间</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody id="content">
						</tbody>
					</table>
					<label>共<font color='red' id="count_page_number"></font>条记录</label>
					<div id="paged" class="page" style="display:inline-block;">
					</div>
				</div>
			</fieldset> 
			<!-- <a href="javascript:;" data-id="{{ item.platformId }}" data-name="{{ item.name }}" data-opt="find" class="layui-btn layui-btn-normal layui-btn-mini " >{{  }}</a> -->
		<!--模板-->
		<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){
			var appName=item.appName;
			var taskType=item.taskType;
			var appLevel=item.appLevel;
			var collectState=item.collectState;
			var pushType=item.pushType;
			var isGongjijin=item.isGongjijin;
			var isShebao=item.isShebao;

			if(appName == '1'){
				appName="洪澄";
			}else if(appName == '2'){
				appName="速贷";
			}
			if(taskType == '06002'){
				taskType="聚信立学信";
			}else if(taskType == '06003'){
				taskType="聚信立电商";
			}else if(taskType == '06004'){
				taskType="聚信立社保";
			}else if(taskType == '06005'){
				taskType="聚信立公积金";
			}else if(taskType == '06006'){
				taskType="聚信立人行征信";
			}
			if(appLevel == '0'){
				appLevel="新客户";
			}else if(appLevel == '1'){
				appLevel="老客户";
			}
			if(collectState == '0'){
				collectState="未采集";
			}else if(collectState == '1'){
				collectState="采集成功";
			}else if(collectState == '2'){
				collectState="采集失败";
			}
			if(pushType == '0'){
				pushType="未推送";
			}else if(pushType == '1'){
				pushType="已推送";
			}
			if(isGongjijin == '0'){
				isGongjijin="否";
			}else if(isGongjijin == '1'){
				isGongjijin="是";
			}
			if(isShebao == '0'){
				isShebao="否";
			}else if(isShebao == '1'){
				isShebao="是";
			}

			var isException = "否";
			if(item.isRedisErroe != null && item.isRedisErroe !=''){
				isException = "<font color='red'>是</font>";
			}

 			}}	
			<tr>
				
				<td>
					<input name="customerId" type="checkbox" lay-skin="primary" data-cid="{{ item.customerId}}">
				</td>
				
				<td>{{ item.appSerialNumber }}</td>
				<td>{{ item.customerId  }}</td>
				<td>{{ item.taskId  }}</td>
				<td>{{ item.userName  }}</td>
				<td>{{ item.phone  }}</td>
				<td>{{ item.idCard  }}</td>
				<td>{{ isException  }}</td>
				<td>
				{{# if(item.isRedisErroe !=null && item.isRedisErroe != ''){}}
					<a href="javascript:;" data-id="{{ item.isRedisErroe }}" data-tasktype="{{ item.taskType }}"  
						data-opt="info" class="layui-btn layui-btn-normal layui-btn-mini">查看异常详细信息</a>
				{{# }else{ }}
					{{ item.errorDescription }}
				{{# } }}
				</td> 
				<td>{{ item.failureTimes }}</td>
				<td>{{ isGongjijin }}</td> 
				<td>{{ isShebao }}</td> 
				<td>{{ item.existingMoney }}</td> 
				<td>{{ item.increaseMoney }}</td> 
				
				<td>
					{{ taskType }}
     			</td>
				<td>{{ item.appChannel }}</td>
				<td>{{ appLevel }}</td> 
				<td>{{ item.refundConut }}</td>
				<td>{{ item.dayLoanCount }}</td>
				<td>{{ collectState }}</td> 
				<td>{{ pushType }}</td> 
				 
				
				<td>{{ item.josnStoragePath }}</td> 
				<td>{{ item.createTime.substring(0,19) }}</td> 
				<td>{{ item.modifyTime.substring(0,19) }}</td> 
				<td>{{ item.remark }}</td> 
			</tr>
			{{# }); }}
		</script>
	</body>
</html>