<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
</head>

<body>
	<div id="main" style="width: 1500px; height: 400px;"></div>


	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/statistic/presentHistogram.js"></script>
	<script src="../../ECharts3/echarts.min.js"></script>
</body>

</html>
