<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
 
</head>

<body>
	<div class="admin-main">
		<fieldset class="layui-elem-field">
			<legend>登录历史列表</legend>
			<div class="layui-field-box layui-form">
				<table class="layui-table admin-table"  style="word-break: keep-all;overflow:auto;">
					<thead>
						<tr>
							<th>用户id</th>
							<th>登录时间</th>
<!-- 							<th>退出时间</th> -->
							<th>IP地址</th>
<!-- 							<th>类型</th> -->
<!--  							<th style="min-width: 100px;">备注</th> -->
						</tr>
					</thead>
					<tbody id="content">
					</tbody>
				</table>
				<label>共<font color='red' id="count_page_number"></font>条记录</label>
				<div id="paged" class="page" style="display:inline-block;">
				</div>
			</div>
		</fieldset>
	</div>
	<!--模板-->
	<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){ }}
			<tr>
				<td>{{ item.userId }}</td>
                <td>{{ item.loginTime.substring(0, 19) }}</td>
                <td>{{ item.ip}}</td>
			</tr>
			{{# }); }}
		</script>
<!-- 	<td>{{ item.loginOutTime.substring(0, 19) }}</td> -->
<!--   {{# if(item.type == '1'){ }} -->
<!-- 				<td>登陆</td> -->
<!--                 {{# } else if(item.type == '2') { }} -->
<!--                 <td>退出</td> -->
<!-- 				{{# } else  { }} -->
<!-- 				<td></td> -->
<!-- 				{{# } }} -->
 
<!-- 				<td>{{ item.remark }}</td> -->
	<!-- js -->
	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/scLoginLog/scLoginLog.js"></script>
	<!-- 日期控件 -->
	<script language="javascript" type="text/javascript" src="../../My97DatePicker/WdatePicker.js"></script>
</body>

</html>