
<!DOCTYPE html>
<html>
<head>
<base target="_Self">
<meta charset="UTF-8">
<title>上海资信贷款交易详细记录</title>
        <link href="../../css/shCredit.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="../../plugins/layui/css/layui.css"
		media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet"
		href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
</style>
</head>
<body>
	<div class="z_content">
        	<div class="zc_title">
            	<h2><strong>上海资信贷款交易详细记录</strong></h2>
            </div>
             <table class="zc_table" style="width:100%; border:1px solid #d7d7d7; text-align:center;">
                	<thead>
                    </thead>
                    <tbody id="deals">
                    </tbody>
                </table>
        </div>
    <script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/customerManager/allDeals.js"></script>
</body>
</html>