<!DOCTYPE html>
<html lang="zh">
	<head>
    	<meta charset="utf-8" />
    	<title>上海资信报告</title>
        <link href="../../css/shCredit.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="../../plugins/layui/css/layui.css"
		media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet"
		href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
    </head>
    <body>
    	<div class="z_content">
        	<!-- 头部信息 -->
        	<div class="zc_title">
            	<h2><strong>上海资信全部担保信息告</strong></h2>
            </div>
            <!-- 用户信息 -->
            <div class="zc_userMessage">
            	<table class="zc_table" style="width:100%; border:1px solid #d7d7d7; text-align:center;">
                	<thead>
                    	<tr>
                    		<th scope="col">记录来源</th>
                            <th scope="col">记录类型</th>
                            <th scope="col">发生日期</th>
                            <th scope="col">变更月数</th>
                            <th scope="col">发生金额</th>
                            <th scope="col">明细信息</th>
                            <th scope="col">信息获取日期</th>
                    	</tr>
                    </thead>
                    <tbody id="specialDeal">
                    </tbody>
                </table>
            </div>
        </div>
    <script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/customerManager/allSpecialDeal.js"></script>
    </body>
</html>