<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>用户详情信息</title>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
</head>
<body>
	<div class="admin-main">
 		<div class="layui-tab layui-tab-card" lay-filter="filter">
		  <ul class="layui-tab-title">
		    <li class="layui-this">用户信息</li>
		    <li>同盾报告</li>
		    <li>白骑士资信报告</li>
		 	<li>极光报告</li>
		 	<li>91征信报告</li>
		 	<li>腾讯云报告</li>
		 	<li>易极付黑名单报告</li>
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		    <div class="layui-tab-item" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		    <div class="layui-tab-item" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		    <div class="layui-tab-item" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		    <div class="layui-tab-item" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		    <div class="layui-tab-item" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		     <div class="layui-tab-item" style="height:700px;"><iframe src="" width="100%"  height="100%"></iframe></div>
		  </div>
		</div>
 	</div>

	<!-- js -->
	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/customerManager/customerInfo.js"></script>
</body>

</html>