 <!DOCTYPE html>
<html>
	<head>
	<base target="_Self">
		<meta charset="UTF-8">
		<title>用户手机短信记录</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script> 
		<script src="../../jqery/jquery.js"></script>
		<script src="../../../commons/base.js"></script> 
	  <script type="text/javascript" src="../../js/customerManager/messageList.js"></script>
	</head>
	<body> 
			<fieldset class="layui-elem-field"> 
				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table" id="txl">
					</table>
				</div>
			</fieldset> 
	</body>
</html>