<!DOCTYPE html>
<html>
	<head>
	<base target="_Self">
		<meta charset="UTF-8">
		<title>客户手机应用记录列表</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<!-- js -->
		<script src="../../jqery/jquery.js"></script>
		<script src="../../../commons/base.js"></script>
		<!-- 日期控件 -->
	  <script type="text/javascript" src="../../js/customerManager/phoneList.js"></script>
	</head>
	<body> 
			<fieldset class="layui-elem-field">
				<!--  <legend>同盾拒绝名单列表</legend>   -->
				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table" id="appyy">
						<!-- <thead>
							<tr> 
								<th>APP平台</th>
								<th>APP应用客户编号</th>
								<th>应用程序名称</th>
								<th>应用程序所对应的包名</th>
								<th>应用程序的versionName</th>
								<th>应用程序的versionCode</th>
								<th>是否是系统应用</th>
								<th>应用最近一次更新时间</th>
								<th>创建时间</th> 
								<th>修改时间</th> 
								
							</tr>
						</thead>
						<tbody id="content">
						</tbody> -->
					</table>
					<!-- <label>共<font color='red' id="count_page_number"></font>条记录</label>
					<div id="paged" class="page" style="display:inline-block;">
					</div> -->
				</div>
			</fieldset> 
		<!--模板-->
		<!--<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){ 
			var appName = item.appName; 
			var time = item.createTime;  
			var createTime = time.substring(0,19); 
			if(appName == 1){
				appName='洪澄';
			};
			if(appName == 2){
				appName='速贷';
			}; 
			var isSysApp = item.isSystemApp;
			if(isSysApp == 1){
				isSysApp='是';
			}; 
			if(isSysApp == 0){
				isSysApp='否';
			};
 			}}	
			<tr>
				<td>{{ appName }}</td>
				<td>{{ item.customerId }}</td>
				<td>{{ item.launcherName }}</td> 
				<td>{{ item.packageName }}</td> 
				<td>{{ item.versionName }}</td>
				<td>{{ item.versionCode }}</td>
				<td>{{ isSysApp }}</td>
				<td>{{ item.lastUpdateTime }}</td> 
				<td>{{ createTime }}</td> 
				<td>{{ item.modifyTime.substring(0,19) }}</td> 
				
			</tr>
			{{# }); }}
		</script>-->
	</body>
</html>