<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>腾讯云报告信息</title>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
</head>
<body>
	<div class="admin-main">
		<fieldset class="layui-elem-field">
			<br>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:getMysqlData();" class="layui-btn layui-btn-small">
			<i class="layui-icon">&#xe615;</i> Mysql数据查询
			<a href="javascript:getMongoData();" class="layui-btn layui-btn-small" >
			<i class="layui-icon">&#xe615;</i> Mongo数据查询
			</a>
			<div class="layui-field-box layui-form">
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col width="200">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<td>记录能否被查到</td>
							<td ><font id="isFound"></font></td>
						</tr>
						<tr>
							<td>记录身份证能否被查到</td>
							<td><font id="isIdFound"></font></td>
						</tr>
						<tr>
							<td>风险分数</td>
							<td><font id="riskScore"></font></td>
						</tr>
					</tbody>
				</table>
				<legend  style="margin-left:40%">风险详细信息 </legend>
				<table class="layui-table"> 
					<thead>
						<tr>
							<th>风险码</th>
							<th>风险值</th>
						</tr>
					</thead>
					<tbody id="riskInfo">
					
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>

	<!-- js -->
	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/customerManager/txy.js"></script>
</body>

</html>