<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>宜信报告信息</title>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="../../css/table.css" /> -->
</head>
<body>
	<div class="admin-main" style="margin:0;padding:0;" >
		<!-- 宜信被查询历史 -->
		<fieldset class="layui-elem-field"> 
			<legend style="margin-left: 45%;"><font size="5">宜信被查询历史</font></legend>
				<div class="layui-field-box layui-form" style="margin:0;padding:0;height:510px" >
					<div style="height:460px;margin:0;padding:0;">
						<table class="layui-table admin-table" id="show_tab">
							<thead>
								<tr id="show_tab_one"> 
									<th>提供查询的机构代码</th>
									<th>查询时间</th>
									<th>机构类型 </th>
									<th>查询原因</th>
								</tr>
							</thead>
							<tbody id="content">
							</tbody>
						</table>
					</div>
					<div id="jsonPg">
						共<lable id="page"></lable>条
						<input id="lastpage" type="button" value="上一页" class="layui-btn layui-btn-primary layui-btn-small">
					    <input id="nextpage" type="button" value="下一页" class="layui-btn layui-btn-primary layui-btn-small">
						 第&nbsp<input id="curPage" type="text" size="5">&nbsp页
						<input id="npage" type="button" value="确定" class="layui-btn layui-btn-primary layui-btn-small">
					</div>
					<div id="dataBasePg">
						<label>共<font color='red' id="count_page_number"></font>条记录</label>
						<div id="paged" class="page" style="display:inline-block;">
						</div>
					</div>
				</div>
			</fieldset> 
	</div>
	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/customerManager/yxReport_history_JsonReport.js"></script>
	<!--模板-->
	<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){
			if(item==null||item=='undefined') return; 
			var buApplicationId = item.buApplicationId; 
			var orgName = item.orgName; 
			var time = item.time.substring(0,19); 
			var orgType = item.orgType; 
			var queryReason = item.queryReason; 
			var createTime = item.createTime.substring(0,19);
			var remark = item.remark; 
			if(orgType=='1110') orgType='P2P';
			if(orgType=='1111') orgType='P2P-车贷';
			if(orgType=='1112') orgType='P2P-房贷';
			if(orgType=='1120') orgType='非持牌消费';
			if(orgType=='1121') orgType='非持牌消费-小额现金贷';
			if(orgType=='1122') orgType='非持牌消费-消费分期';
			if(orgType=='1130') orgType='持牌消费金融';
			if(orgType=='1140') orgType='银行';
			if(orgType=='1150') orgType='融资租赁';
			if(orgType=='1003') orgType='小贷';
			if(orgType=='1160') orgType='典当';
			if(orgType=='1170') orgType='担保';
			if(queryReason=='10') queryReason='贷款审核';
			if(queryReason=='11') queryReason='贷后管理';
			if(queryReason=='12') queryReason='信用卡审批';
			if(queryReason=='13') queryReason='担保资格查询';
			if(queryReason=='14') queryReason='保前审查';
 			}}	
			<tr>
				<td>{{ orgName }}</td>
				<td>{{ time }}</td> 
				<td>{{ orgType }}</td> 
				<td>{{ queryReason }}</td>
			</tr>
			{{# }); }}
		</script>
</body>

</html>