<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.approval.AppInfoDao">

	<resultMap type="com.shangyong.backend.entity.approval.AppInfo" id="cuAppInfoMap">
		<id property="appInfoId" column="app_info_id" javaType="java.lang.String"></id>
		<result property="customerCollectMessageId" column="customer_collect_message_id" javaType="java.lang.Long"></result>
		<result property="appName" column="app_name" javaType="java.lang.Integer"></result>
		<result property="customerId" column="customer_id" javaType="java.lang.String"></result>
		<result property="launcherName" column="launcher_name" javaType="java.lang.String"></result>
		<result property="packageName" column="package_name" javaType="java.lang.String"></result>
		<result property="versionName" column="version_name" javaType="java.lang.String"></result>
		<result property="versionCode" column="version_code" javaType="java.lang.String"></result>
		<result property="isSystemApp" column="is_system_app" javaType="java.lang.Integer"></result>
		<result property="lastUpdateTime" column="lastUpdate_time" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
app_info_id,	customer_collect_message_id,	app_name,	customer_id,	launcher_name,	package_name,	version_name,	version_code,	is_system_app,	lastUpdate_time,	create_time,	modify_time
	</sql>
	
	<!-- 查询（根据根据customerId和appName查询） -->
	<select id="findAppInfo" resultMap="cuAppInfoMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cu_app_info
		 WHERE app_name = #{appName} and customer_id = #{customerId}
	</select>
	
	<!-- 批量添加 -->
	<insert id="saveAllEntity">
		 INSERT INTO cu_app_info
 		(app_info_id,customer_collect_message_id,app_name,customer_id,launcher_name,package_name,version_name,version_code,is_system_app,lastUpdate_time,create_time,modify_time)
		 VALUES 
 	    <foreach collection="list" item="item" index="index" separator="," >  
 		(#{item.appInfoId},#{item.customerCollectMessageId},#{item.appName},#{item.customerId},#{item.launcherName},#{item.packageName},#{item.versionName},#{item.versionCode},#{item.isSystemApp},#{item.lastUpdateTime},#{item.createTime},#{item.modifyTime}) 
	    </foreach>
	</insert>
	<!-- 查询客户手机应用列表记录（根据customerId和appName查询，只查询最近一条） -->
	<select id="findlateEntity" resultMap="cuAppInfoMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cu_app_info
		 WHERE app_name = #{appName} and customer_id = #{customerId} ORDER BY create_time DESC LIMIT 1
	</select>
</mapper>