<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.bqs.BqsNetplayInfoServiceDao">

	<resultMap type="com.shangyong.backend.entity.bqs.BqsNetplayInfo" id="bqsNetplayInfoinfoMap">
		<id property="bqsNetplayInfoId" column="bqs_netplay_info_id" javaType="java.lang.String"></id>
		<result property="bqsPersonalInfoId" column="bqs_personal_info_id" javaType="java.lang.String"></result>
		<result property="netType" column="net_type" javaType="java.lang.String"></result>
		<result property="bizName" column="biz_name" javaType="java.lang.String"></result>
		<result property="userAgent" column="user_agent" javaType="java.lang.String"></result>
		<result property="domainName" column="domain_name" javaType="java.lang.String"></result>
		<result property="featInfo" column="feat_info" javaType="java.lang.String"></result>
		<result property="clientIp" column="client_ip" javaType="java.lang.String"></result>
		<result property="accessIp" column="access_ip" javaType="java.lang.String"></result>
		<result property="durationTime" column="duration_time" javaType="java.lang.String"></result>
		<result property="beginTime" column="begin_time" javaType="java.lang.String"></result>
		<result property="totalTraffic" column="total_traffic" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	bqs_netplay_info_id,	bqs_personal_info_id,	net_type,	biz_name,	user_agent,	domain_name,	feat_info,	client_ip,	access_ip,	duration_time,	begin_time,	total_traffic,	remark,	create_time,	modify_time,	create_man,	modify_man
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="bqsNetplayInfoinfoMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bqs_netplay_info
		 WHERE bqs_netplay_info_id = #{bqsNetplayInfoId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="getAll" resultMap="bqsNetplayInfoinfoMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bqs_netplay_info
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.String">
		 DELETE FROM bqs_netplay_info
		 WHERE bqs_netplay_info_id = #{bqsNetplayInfoId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.bqs.BqsNetplayInfo">
		 INSERT INTO bqs_netplay_info
 		(bqs_netplay_info_id,bqs_personal_info_id,net_type,biz_name,user_agent,domain_name,feat_info,client_ip,access_ip,duration_time,begin_time,total_traffic,remark,create_time,modify_time,create_man,modify_man) 
		 VALUES 
 		(#{bqsNetplayInfoId},#{bqsPersonalInfoId},#{netType},#{bizName},#{userAgent},#{domainName},#{featInfo},#{clientIp},#{accessIp},#{durationTime},#{beginTime},#{totalTraffic},#{remark},#{createTime},#{modifyTime},#{createMan},#{modifyMan}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.bqs.BqsNetplayInfo">
		 UPDATE bqs_netplay_info
 		 <set> 
			<if test="bqsPersonalInfoId != null">
				 bqs_personal_info_id = #{bqsPersonalInfoId},
			</if>
			<if test="netType != null">
				 net_type = #{netType},
			</if>
			<if test="bizName != null">
				 biz_name = #{bizName},
			</if>
			<if test="userAgent != null">
				 user_agent = #{userAgent},
			</if>
			<if test="domainName != null">
				 domain_name = #{domainName},
			</if>
			<if test="featInfo != null">
				 feat_info = #{featInfo},
			</if>
			<if test="clientIp != null">
				 client_ip = #{clientIp},
			</if>
			<if test="accessIp != null">
				 access_ip = #{accessIp},
			</if>
			<if test="durationTime != null">
				 duration_time = #{durationTime},
			</if>
			<if test="beginTime != null">
				 begin_time = #{beginTime},
			</if>
			<if test="totalTraffic != null">
				 total_traffic = #{totalTraffic},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>

 		 </set>
		 WHERE bqs_netplay_info_id = #{bqsNetplayInfoId}
	</update>

</mapper>