<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.DataBaseDao">

	<resultMap type="com.shangyong.backend.entity.InformationSchema"
		id="InformationSchemaMap">
		<id property="indexLength" column="INDEX_LENGTH" javaType="java.lang.String"></id>
		<result property="dataLength" column="DATA_LENGTH" javaType="java.lang.String"></result>
		<result property="tableCatalog" column="TABLE_CATALOG" javaType="java.lang.String"></result>
		<result property="tableSchema" column="TABLE_SCHEMA" javaType="java.lang.String"></result>
		<result property="tableName" column="TABLE_NAME" javaType="java.lang.String"></result>
		<result property="tableType" column="TABLE_TYPE" javaType="java.lang.String"></result>
		<result property="engine" column="ENGINE" javaType="java.lang.String"></result>
		<result property="version" column="VERSION" javaType="java.lang.String"></result>
		<result property="rowFormat" column="ROW_FORMAT" javaType="java.lang.String"></result>
		<result property="tableRow" column="TABLE_ROWS" javaType="java.lang.String"></result>
		<result property="avgRowLength" column="AVG_ROW_LENGeTH" javaType="java.lang.String"></result>
		<result property="maxDataLength" column="MAX_DATA_LENGTH" javaType="java.lang.String"></result>
		<result property="dataFree" column="DATA_FREE" javaType="java.lang.String"></result>
		<result property="autoIncrement" column="AUTO_INCREMENT" javaType="java.lang.String"></result>
		<result property="createTime" column="CREATE_TIME" javaType="java.lang.String"></result>
		<result property="checkTime" column="CHECK_TIME" javaType="java.lang.String"></result>
		<result property="updateTime" column="UPDATE_TIME" javaType="java.lang.String"></result>
		<result property="tableCollation" column="TABLE_COLLATION" javaType="java.lang.String"></result>
		<result property="checksum" column="CHECKSUM" javaType="java.lang.String"></result>
		<result property="createOptions" column="CREATE_OPTIONS" javaType="java.lang.String"></result>
		<result property="tableComment" column="TABLE_COMMENT" javaType="java.lang.String"></result>
	</resultMap>
 
 <!-- add:xuke 查询某个数据库实例下所有表或者某个表的表结构 -->
	<select id="findOne" resultType="java.util.Map"
		parameterType="com.shangyong.backend.entity.InformationSchema">
	SELECT TABLE_SCHEMA , TABLE_NAME , COLUMN_NAME
	,ORDINAL_POSITION
	,COLUMN_DEFAULT , IS_NULLABLE ,DATA_TYPE
	,CHARACTER_MAXIMUM_LENGTH
	,CHARACTER_SET_NAME ,COLUMN_TYPE ,COLUMN_KEY ,COLUMN_COMMENT
	from information_schema.`COLUMNS` 
  		<where>
 		TABLE_SCHEMA not IN('information_schema','mysql','operation','performance_schema')
		<if test="tableSchema != null and tableSchema != '' ">
			and TABLE_SCHEMA = #{tableSchema}
		</if>
		<if test="tableName != null and  tableName !='' "> 
			and instr(TABLE_NAME, #{tableName}) > 0
		</if> 
		</where>
   	</select>
 
  <!-- add:xuke 查询某个数据库实例下所有表或者某个表的表结构 -->
	<select id="findTwo" resultType="java.util.Map"
		parameterType="com.shangyong.backend.entity.InformationSchema">
	SELECT TABLE_SCHEMA ,TABLE_NAME ,CASE NON_UNIQUE WHEN 1 THEN '非唯一索引'
	WHEN 0 THEN '唯一索引' END as NON_UNIQU ,INDEX_SCHEMA
	,INDEX_NAME ,SEQ_IN_INDEX
	,COLUMN_NAME ,NULLABLE ,INDEX_TYPE
	from information_schema.STATISTICS 
  		<where>
 TABLE_SCHEMA not IN('information_schema','mysql','operation','performance_schema')
 		<if test="tableSchema != null and tableSchema != '' ">
			and TABLE_SCHEMA = #{tableSchema}
		</if>
		<if test="tableName != null and  tableName !='' "> 
			and instr(TABLE_NAME, #{tableName}) > 0
		</if> 
		</where>
		ORDER BY TABLE_SCHEMA
   	</select>
 
 
 
	<select id="findAll" resultMap="InformationSchemaMap"
		parameterType="com.shangyong.backend.entity.InformationSchema">
	 select	concat(
		TRUNCATE (data_length / 1024 / 1024, 2),
		' MB'
		) AS data_size, 
		concat(truncate(index_length/1024/1024,2),' MB') as index_size,
		TABLE_CATALOG,
		TABLE_SCHEMA,
		TABLE_NAME,
		TABLE_TYPE,
		ENGINE,
		VERSION,
		ROW_FORMAT,
		TABLE_ROWS, 
		DATA_LENGTH, 
		INDEX_LENGTH,
		DATA_FREE, 
		CREATE_TIME, 
		TABLE_COLLATION, 
		TABLE_COMMENT
		from information_schema
		<where>
		<if test="tableSchema != null and tableSchema != '' ">
			TABLE_SCHEMA = #{tableSchema}
		</if>
		<if test="tableName != null and  tableName !='' "> 
			and instr(TABLE_NAME, #{tableName}) > 0
		</if> 
		</where>
		GROUP BY TABLE_NAME
		order by  TABLE_ROWS desc
		LIMIT #{pageIndex},#{pageSize} 
	</select>
	
 <select id="listAllCount" resultType="java.lang.Integer" >
	SELECT
	 COUNT(1)
	FROM information_schema
	<where>
		<if test="tableSchema != null and tableSchema != '' ">
			TABLE_SCHEMA = #{tableSchema}
		</if>
		<if test="tableName != null and  tableName !='' ">
			and instr(TABLE_NAME, #{tableName}) > 0
		</if> 
		</where>
   	 </select>
</mapper>