<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.mq.MqLogMessageDao">
    <resultMap id="BaseResultMap" type="com.shangyong.backend.entity.mq.MqLogMessage">
        <id column="hsid" jdbcType="BIGINT" property="hsid"/>
        <result column="message_id" jdbcType="VARCHAR" property="messageId"/>
        <result column="message_exchange" jdbcType="VARCHAR" property="messageExchange"/>
        <result column="message_routingkey" jdbcType="VARCHAR" property="messageRoutingkey"/>
        <result column="message_queue" jdbcType="VARCHAR" property="messageQueue"/>
        <result column="message_channel_type" jdbcType="TINYINT" property="messageChannelType"/>
        <result column="message_service" jdbcType="VARCHAR" property="messageService"/>
        <result column="message_type" jdbcType="TINYINT" property="messageType"/>
        <result column="application_id" jdbcType="VARCHAR" property="applicationId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_man" jdbcType="VARCHAR" property="createMan"/>
        <result column="modify_man" jdbcType="VARCHAR" property="modifyMan"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="is_consumption" jdbcType="VARCHAR" property="isConsumption"/>
        <result column="message_body" jdbcType="LONGVARCHAR" property="messageBody"/>
        <result column="message_info" jdbcType="LONGVARCHAR" property="messageInfo"/>
    </resultMap>

    <resultMap id="BaseResultMapBo" type="com.shangyong.backend.bo.mq.MqLogMessageBo">
        <result column="hsid" jdbcType="BIGINT" property="hsid"/>
        <result column="message_id" jdbcType="VARCHAR" property="messageId"/>
        <result column="message_exchange" jdbcType="VARCHAR" property="messageExchange"/>
        <result column="message_routingkey" jdbcType="VARCHAR" property="messageRoutingkey"/>
        <result column="message_queue" jdbcType="VARCHAR" property="messageQueue"/>
        <result column="message_channel_type" jdbcType="TINYINT" property="messageChannelType"/>
        <result column="message_service" jdbcType="VARCHAR" property="messageService"/>
        <result column="message_type" jdbcType="TINYINT" property="messageType"/>
        <result column="application_id" jdbcType="VARCHAR" property="applicationId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_man" jdbcType="VARCHAR" property="createMan"/>
        <result column="modify_man" jdbcType="VARCHAR" property="modifyMan"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="message_body" jdbcType="LONGVARCHAR" property="messageBody"/>
        <result column="message_info" jdbcType="LONGVARCHAR" property="messageInfo"/>
        <result column="receive_hsid" jdbcType="BIGINT" property="receiveHsid"/>
        <result column="receive_message_id" jdbcType="VARCHAR" property="receiveMessageId"/>
        <result column="receive_application_id" jdbcType="VARCHAR" property="receiveApplicationId"/>
        <result column="receive_create_time" jdbcType="TIMESTAMP" property="receiveCreateTime"/>
        <result column="receive_message_channel_type" jdbcType="TINYINT" property="receiveMessageChannelType"/>
        <result column="receive_message_body" jdbcType="LONGVARCHAR" property="receiveMessageBody"/>
        <result column="receive_message_info" jdbcType="LONGVARCHAR" property="receiveMessageInfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        hsid,message_id,message_exchange,message_routingkey,message_queue,message_channel_type,message_service,message_type,application_id,ip,create_time,create_man,modify_man,modify_time,is_consumption,message_body,message_info
    </sql>

    <sql id="Base_ondition_List">
        <where>
            <if test="hsid != null">
                hsid = #{hsid,jdbcType=BIGINT}
            </if>
            <if test="messageId != null and messageId != ''">
                and message_id = #{messageId,jdbcType=VARCHAR}
            </if>
            <if test="messageExchange != null and messageExchange != ''">
                and message_exchange = #{messageExchange,jdbcType=VARCHAR}
            </if>
            <if test="messageRoutingkey != null and messageRoutingkey != ''">
                and message_routingkey = #{messageRoutingkey,jdbcType=VARCHAR}
            </if>
            <if test="messageQueue != null and messageQueue != ''">
                and message_queue = #{messageQueue,jdbcType=VARCHAR}
            </if>
            <if test="messageChannelType != null">
                and message_channel_type = #{messageChannelType,jdbcType=TINYINT}
            </if>
            <if test="messageService != null and messageService != ''">
                and message_service = #{messageService,jdbcType=VARCHAR}
            </if>
            <if test="messageType != null">
                and message_type = #{messageType,jdbcType=TINYINT}
            </if>
            <if test="applicationId != null and applicationId != ''">
                and application_id = #{applicationId,jdbcType=VARCHAR}
            </if>
            <if test="ip != null and ip != ''">
                and ip = #{ip,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createMan != null">
                and create_man = #{createMan,jdbcType=VARCHAR}
            </if>
            <if test="modifyMan != null">
                and modify_man = #{modifyMan,jdbcType=VARCHAR}
            </if>
            <if test="modifyTime != null">
                and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isConsumption != null and isConsumption != ''">
                and is_consumption = #{isConsumption,jdbcType=VARCHAR}
            </if>
            <if test="messageBody != null">
                and instr(message_body, #{messageBody,jdbcType=LONGVARCHAR}) > 0
            </if>
            <if test="messageInfo != null">
                and message_info = #{messageInfo,jdbcType=LONGVARCHAR}
            </if>
            <!--  操作开始日期 -->
            <if test="optTimeBigen != null and optTimeBigen != ''">
                and create_time <![CDATA[>=]]> #{optTimeBigen}
            </if>
            <!--  操作结束日期 -->
            <if test="optTimeEnd != null and optTimeEnd != ''">
                and create_time  <![CDATA[<=]]> #{optTimeEnd}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.shangyong.backend.entity.mq.MqLogMessage">
        insert into mq_log_message (<include refid="Base_Column_List"/>)
        values(#{hsid,jdbcType=BIGINT},#{messageId,jdbcType=VARCHAR},#{messageExchange,jdbcType=VARCHAR},#{messageRoutingkey,jdbcType=VARCHAR},#{messageQueue,jdbcType=VARCHAR},#{messageChannelType,jdbcType=TINYINT},#{messageService,jdbcType=VARCHAR},#{messageType,jdbcType=TINYINT},#{applicationId,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{createMan,jdbcType=VARCHAR},#{modifyMan,jdbcType=VARCHAR},#{modifyTime,jdbcType=TIMESTAMP},#{messageBody,jdbcType=LONGVARCHAR},#{messageInfo,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.shangyong.backend.entity.mq.MqLogMessage">
        insert into mq_log_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hsid != null">
                hsid,
            </if>
            <if test="messageId != null">
                message_id,
            </if>
            <if test="messageExchange != null">
                message_exchange,
            </if>
            <if test="messageRoutingkey != null">
                message_routingkey,
            </if>
            <if test="messageQueue != null">
                message_queue,
            </if>
            <if test="messageChannelType != null">
                message_channel_type,
            </if>
            <if test="messageService != null">
                message_service,
            </if>
            <if test="messageType != null">
                message_type,
            </if>
            <if test="applicationId != null">
                application_id,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createMan != null">
                create_man,
            </if>
            <if test="modifyMan != null">
                modify_man,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="isConsumption != null">
                is_consumption,
            </if>
            <if test="messageBody != null">
                message_body,
            </if>
            <if test="messageInfo != null">
                message_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hsid != null">
                #{hsid,jdbcType=BIGINT},
            </if>
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="messageExchange != null">
                #{messageExchange,jdbcType=VARCHAR},
            </if>
            <if test="messageRoutingkey != null">
                #{messageRoutingkey,jdbcType=VARCHAR},
            </if>
            <if test="messageQueue != null">
                #{messageQueue,jdbcType=VARCHAR},
            </if>
            <if test="messageChannelType != null">
                #{messageChannelType,jdbcType=TINYINT},
            </if>
            <if test="messageService != null">
                #{messageService,jdbcType=VARCHAR},
            </if>
            <if test="messageType != null">
                #{messageType,jdbcType=TINYINT},
            </if>
            <if test="applicationId != null">
                #{applicationId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createMan != null">
                #{createMan,jdbcType=VARCHAR},
            </if>
            <if test="modifyMan != null">
                #{modifyMan,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isConsumption != null">
                #{isConsumption,jdbcType=VARCHAR},
            </if>
            <if test="messageBody != null">
                #{messageBody,jdbcType=LONGVARCHAR},
            </if>
            <if test="messageInfo != null">
                #{messageInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.shangyong.backend.entity.mq.MqLogMessage">
        update mq_log_message set
        message_id = #{messageId,jdbcType=VARCHAR},
        message_exchange = #{messageExchange,jdbcType=VARCHAR},
        message_routingkey = #{messageRoutingkey,jdbcType=VARCHAR},
        message_queue = #{messageQueue,jdbcType=VARCHAR},
        message_channel_type = #{messageChannelType,jdbcType=TINYINT},
        message_service = #{messageService,jdbcType=VARCHAR},
        message_type = #{messageType,jdbcType=TINYINT},
        application_id = #{applicationId,jdbcType=VARCHAR},
        ip = #{ip,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_man = #{createMan,jdbcType=VARCHAR},
        modify_man = #{modifyMan,jdbcType=VARCHAR},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        is_consumption = #{isConsumption,jdbcType=VARCHAR},
        message_body = #{messageBody,jdbcType=LONGVARCHAR},
        message_info = #{messageInfo,jdbcType=LONGVARCHAR}
        <where>
            <if test="hsid != null">
                hsid = #{hsid,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.shangyong.backend.entity.mq.MqLogMessage">
        update mq_log_message
        <set>
            <if test="messageId != null">
                message_id = #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="messageExchange != null">
                message_exchange = #{messageExchange,jdbcType=VARCHAR},
            </if>
            <if test="messageRoutingkey != null">
                message_routingkey = #{messageRoutingkey,jdbcType=VARCHAR},
            </if>
            <if test="messageQueue != null">
                message_queue = #{messageQueue,jdbcType=VARCHAR},
            </if>
            <if test="messageChannelType != null">
                message_channel_type = #{messageChannelType,jdbcType=TINYINT},
            </if>
            <if test="messageService != null">
                message_service = #{messageService,jdbcType=VARCHAR},
            </if>
            <if test="messageType != null">
                message_type = #{messageType,jdbcType=TINYINT},
            </if>
            <if test="applicationId != null">
                application_id = #{applicationId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createMan != null">
                create_man = #{createMan,jdbcType=VARCHAR},
            </if>
            <if test="modifyMan != null">
                modify_man = #{modifyMan,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isConsumption != null">
                is_consumption = #{isConsumption,jdbcType=VARCHAR},
            </if>
            <if test="messageBody != null">
                message_body = #{messageBody,jdbcType=LONGVARCHAR},
            </if>
            <if test="messageInfo != null">
                message_info = #{messageInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <where>
            <if test="hsid != null">
                hsid = #{hsid,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mq_log_message
        <where>
            <if test="hsid != null">
                hsid = #{hsid,jdbcType=BIGINT}
            </if>
        </where>
    </delete>

    <select id="selectOne" parameterType="com.shangyong.backend.entity.mq.MqLogMessage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mq_log_message
        <include refid="Base_ondition_List"/>
        ORDER BY create_time DESC
        limit 1
    </select>

    <select id="selectList" parameterType="com.shangyong.backend.entity.mq.MqLogMessage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mq_log_message
        <include refid="Base_ondition_List"/>
    </select>

    <select id="countErrorApplication" parameterType="com.shangyong.backend.bo.mq.MqLogMessageBo" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM mq_log_message log INNER JOIN bu_application application
        ON log.application_id = application.application_id AND application.is_hbase_syn = 1 AND
        application.auditing_state = 0
        <where>
            <if test="messageChannelType != null">
                and log.message_channel_type = #{messageChannelType,jdbcType=TINYINT}
            </if>
            <!--  操作开始日期 -->
            <if test="optTimeBigen != null and optTimeBigen != ''">
                and log.create_time <![CDATA[>=]]> #{optTimeBigen}
            </if>
            <!--  操作结束日期 -->
            <if test="optTimeEnd != null and optTimeEnd != ''">
                and log.create_time  <![CDATA[<=]]> #{optTimeEnd}
            </if>
        </where>
    </select>

    <select id="findErrorApplication" parameterType="com.shangyong.backend.bo.mq.MqLogMessageBo" resultMap="BaseResultMapBo">
        SELECT
          log.hsid,
          log.message_id,
          log.message_exchange,
          log.message_routingkey,
          log.message_queue,
          log.message_channel_type,
          log.message_service,
          log.message_type,
          log.application_id,
          log.ip,
          log.create_time,
          log.create_man,
          log.modify_man,
          log.modify_time,
          log.message_body,
          log.message_info
        FROM mq_log_message log INNER JOIN bu_application application
            ON log.application_id = application.application_id AND application.is_hbase_syn = 1 AND
               application.auditing_state = 0
        <where>
            <if test="messageChannelType != null">
                and log.message_channel_type = #{messageChannelType,jdbcType=TINYINT}
            </if>
            <!--  操作开始日期 -->
            <if test="optTimeBigen != null and optTimeBigen != ''">
                and log.create_time <![CDATA[>=]]> #{optTimeBigen}
            </if>
            <!--  操作结束日期 -->
            <if test="optTimeEnd != null and optTimeEnd != ''">
                and log.create_time  <![CDATA[<=]]> #{optTimeEnd}
            </if>
        </where>
        GROUP BY log.application_id, log.message_channel_type
        ORDER BY log.create_time
    </select>

    <select id="count" parameterType="com.shangyong.backend.entity.mq.MqLogMessage" resultType="java.lang.Integer">
        select count(1) from mq_log_message
        <include refid="Base_ondition_List"/>
    </select>

    <select id="pageQuery" parameterType="com.shangyong.backend.entity.mq.MqLogMessage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mq_log_message
        <include refid="Base_ondition_List"/>
        ORDER BY create_time DESC
        <if test="pageSize != -1">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>

    <select id="byApplicationIdDistinctCount" resultType="java.lang.Integer" parameterType="com.shangyong.backend.entity.mq.MqLogMessage">
        select count(DISTINCT application_id) FROM mq_log_message
        <include refid="Base_ondition_List"/>
    </select>
    
    <select id="byApplicationIdAndIsConsumptionFind" resultMap="BaseResultMap">
        SELECT *
        FROM mq_log_message
        WHERE message_channel_type = 1 AND is_consumption = #{isConsumption,jdbcType=VARCHAR} AND application_id = #{applicationId,jdbcType=VARCHAR}
        GROUP BY create_time DESC
        LIMIT 1
    </select>

    <update id="updateIsConsumption" parameterType="com.shangyong.backend.entity.mq.MqLogMessage">
        update mq_log_message SET
        is_consumption = #{isConsumption,jdbcType=VARCHAR}
        <where>
            <if test="messageId != null">
                and message_id = #{messageId,jdbcType=VARCHAR}
            </if>
            <if test="messageChannelType != null">
                and message_channel_type = #{messageChannelType,jdbcType=TINYINT}
            </if>
        </where>
    </update>
</mapper>