<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.OverdueCntDao">

	<resultMap type="com.shangyong.backend.entity.OverdueCnt" id="overdueCntMap">
		<id property="overdueCntId" column="overdue_cnt_id" javaType="java.lang.String"></id>
		<result property="overdueListId" column="overdue_list_id" javaType="java.lang.String"></result>
		<result property="applicationId" column="application_id" javaType="java.lang.String"></result>
		<result property="overdueCnt" column="overdue_cnt" javaType="java.lang.Integer"></result>
		<result property="overdueAmtCnt" column="overdue_amt_cnt" javaType="java.lang.String"></result>
		<result property="platformType" column="platform_type" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
overdue_cnt_id,	overdue_list_id,	application_id,	overdue_cnt,	overdue_amt_cnt,	platform_type,	create_time,	modify_time
	</sql>
	
	<!-- 批量添加 -->
	<insert id="saveAllEntity">
		 INSERT INTO overdue_cnt
 		(overdue_cnt_id,overdue_list_id,application_id,overdue_cnt,overdue_amt_cnt,platform_type,create_time,modify_time) 
		 VALUES 
		 <foreach collection="list" item="item" index="index" separator="," >
 			(#{item.overdueCntId},#{item.overdueListId},#{item.applicationId},#{item.overdueCnt},#{item.overdueAmtCnt},#{item.platformType},#{item.createTime},#{item.modifyTime})
		 </foreach>
	</insert>
	
	<!-- 查询（根据applicationId查询） -->
	<select id="findEntityByApplicationId" resultMap="overdueCntMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM overdue_cnt
		 WHERE application_id = #{applicationId}
	</select>
	<!-- 查询逾期金额汇总表(根据申请单编号OverdueCnt对象) -->
	<select id="findOverdueCntByEntity" resultMap="overdueCntMap" parameterType="com.shangyong.backend.entity.OverdueCnt">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM overdue_cnt
		 <where> 
	    <if test="overdueCntId != '' and overdueCntId != null" >
	    	overdue_cnt_id = #{overdueCntId}
	    </if>
	    <if test="overdueListId != '' and overdueListId != null" >
	    	and overdue_list_id = #{overdueListId}
	    </if>
	    <if test="applicationId != '' and applicationId != null" >
	    	and application_id = #{applicationId}
	    </if>
	    <if test="overdueCnt != '' and overdueCnt != null" >
	    	and overdue_cnt = #{overdueCnt}
	    </if>
	    <if test="overdueAmtCnt != '' and overdueAmtCnt != null" >
	    	and overdue_amt_cnt = #{overdueAmtCnt}
	    </if>
	    <if test="platformType != '' and platformType != null" >
	    	and platform_type = #{platformType}
	    </if>
	    </where>
	</select>
	
</mapper>