<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.ScAppBigChannelHisDao">

	<resultMap type="com.shangyong.backend.entity.ScAppBigChannelHis" id="scAppBigChannelHisMap">
		<id property="channelBigHisId" column="channel_big_his_id" javaType="java.lang.Integer"></id>
		<result property="channelBigId" column="channel_big_id" javaType="java.lang.Integer"></result>
		<result property="channelBigName" column="channel_big_name" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="recordNewtime" column="record_newtime" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
channel_big_his_id,	channel_big_id,	channel_big_name,	create_time,	create_man,	modify_time,	modify_man,	remark,	record_newtime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="scAppBigChannelHisMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_app_big_channel_his
		 WHERE channel_big_his_id = #{channelBigHisId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="scAppBigChannelHisMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_app_big_channel_his
		 WHERE channel_big_his_id = #{channelBigHisId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.Integer">
		 DELETE FROM sc_app_big_channel_his
		 WHERE channel_big_his_id = #{channelBigHisId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.ScAppBigChannelHis" useGeneratedKeys="true" keyProperty="channelBigHisId">
		 INSERT INTO sc_app_big_channel_his
 		(channel_big_his_id,channel_big_id,channel_big_name,create_time,create_man,modify_time,modify_man,remark,record_newtime) 
		 VALUES 
 		(#{channelBigHisId},#{channelBigId},#{channelBigName},#{createTime},#{createMan},#{modifyTime},#{modifyMan},#{remark},#{recordNewtime}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.ScAppBigChannelHis">
		 UPDATE sc_app_big_channel_his
 		 <set> 
			<if test="channelBigId != null">
				 channel_big_id = #{channelBigId},
			</if>
			<if test="channelBigName != null">
				 channel_big_name = #{channelBigName},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>
			<if test="recordNewtime != null">
				 record_newtime = #{recordNewtime},
			</if>

 		 </set>
		 WHERE channel_big_his_id = #{channelBigHisId}
	</update>

</mapper>