<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.ScDecisionTreeHisDao">

	<resultMap type="com.shangyong.backend.entity.ScDecisionTreeHis" id="scDecisionTreeHisMap">
		<id property="decisionTreeHisId" column="decision_tree_his_id" javaType="java.lang.Integer"></id>
		<result property="decisionTreeId" column="decision_tree_id" javaType="java.lang.Integer"></result>
		<result property="decisionTreeCode" column="decision_tree_code" javaType="java.lang.String"></result>
		<result property="decisionTreeName" column="decision_tree_name" javaType="java.lang.String"></result>
		<result property="startTime" column="start_time" javaType="java.lang.String"></result>
		<result property="endTime" column="end_time" javaType="java.lang.String"></result>
		<result property="tplPercent" column="tpl_percent" javaType="java.lang.String"></result>
		<result property="executeType" column="execute_type" javaType="java.lang.Integer"></result>
		<result property="level" column="level" javaType="java.lang.Integer"></result>
		<result property="banControlTplId" column="ban_control_tpl_id" javaType="java.lang.Integer"></result>
		<result property="fraudRuleTplId" column="fraud_rule_tpl_id" javaType="java.lang.String"></result>
		<result property="scoreTplId" column="score_tpl_id" javaType="java.lang.Integer"></result>
		<result property="state" column="state" javaType="java.lang.String"></result>
		<result property="exchanges" column="exchanges" javaType="java.lang.String"></result>
		<result property="version" column="version" javaType="java.lang.Integer"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="createName" column="create_name" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="modifyName" column="modify_name" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="recordNewtime" column="record_newtime" javaType="java.lang.String"></result>
		<result property="implementType" column="implement_type" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
decision_tree_his_id,implement_type,	decision_tree_id,	decision_tree_code,	decision_tree_name,	start_time,	end_time,	tpl_percent,	execute_type,	level,	ban_control_tpl_id,	fraud_rule_tpl_id,	score_tpl_id,	state,	exchanges,version,	create_time,	create_man,	create_name,	modify_time,	modify_man,	modify_name,	remark,	record_newtime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="scDecisionTreeHisMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_decision_tree_his
		 WHERE decision_tree_his_id = #{decisionTreeHisId}
	</select>


	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="scDecisionTreeHisMap" parameterType="com.shangyong.backend.entity.ScDecisionTreeHis">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_decision_tree_his
		 <where>
		 	<if test="decisionTreeCode != null and decisionTreeCode != ''">
				 decision_tree_code = #{decisionTreeCode}
			</if>
			<if test="decisionTreeName != null and decisionTreeName != ''">
				and  instr(decision_tree_name, #{decisionTreeName}) > 0 
			</if>
			<if test="state != null and state !=''">
				and state = #{state}
			</if> 
			<if test="implementType != null and implementType !=''">
				and implement_type = #{implementType}
			</if> 
			 <if test="beginTime1 != '' and beginTime1 != null" >
	    	    <![CDATA[ and record_newtime >= #{beginTime1} ]]>
	         </if>
	   	     <if test="endTime1 != '' and endTime1 != null" >
	    	    <![CDATA[ and record_newtime <= #{endTime1} ]]>
	         </if> 
		 </where>
		 	 ORDER BY modify_time DESC
			LIMIT #{pageIndex},#{pageSize} 
	</select>

	<!-- 查询  -->
	<select id="listAllCount" resultType="java.lang.Integer" parameterType="com.shangyong.backend.entity.ScDecisionTreeHis">
		SELECT
			COUNT(1)
		 FROM sc_decision_tree_his
		 <where>
		 <if test="decisionTreeCode != null and decisionTreeCode != ''">
				 decision_tree_code = #{decisionTreeCode}
			</if>
			<if test="decisionTreeName != null and decisionTreeName != ''">
				and  instr(decision_tree_name, #{decisionTreeName}) > 0 
			</if>
			<if test="state != null and state !=''">
				and state = #{state}
			</if>  
			<if test="implementType != null and implementType !=''">
				and implement_type = #{implementType}
			</if> 
			 <if test="beginTime1 != '' and beginTime1 != null" >
	    	    <![CDATA[ and record_newtime >= #{beginTime1} ]]>
	         </if>
	   	     <if test="endTime1 != '' and endTime1 != null" >
	    	    <![CDATA[ and record_newtime <= #{endTime1} ]]>
	         </if>  
		 </where>  
	</select>


	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.Integer">
		 DELETE FROM sc_decision_tree_his
		 WHERE decision_tree_his_id = #{decisionTreeHisId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.shangyong.backend.entity.ScDecisionTree">
		 INSERT INTO sc_decision_tree_his
 		(decision_tree_id,implement_type,decision_tree_code,decision_tree_name,start_time,end_time,tpl_percent,execute_type,level,ban_control_tpl_id,fraud_rule_tpl_id,score_tpl_id,state,exchanges,version,create_time,create_man,create_name,modify_time,modify_man,modify_name,remark) 
		 VALUES 
 		(#{decisionTreeId},#{implementType},#{decisionTreeCode},#{decisionTreeName},#{startTime},#{endTime},#{tplPercent},#{executeType},#{level},#{banControlTplId},#{fraudRuleTplId},#{scoreTplId},#{state},#{exchanges},#{version},#{createTime},#{createMan},#{createName},#{modifyTime},#{modifyMan},#{modifyName},#{remark}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.ScDecisionTreeHis">
		 UPDATE sc_decision_tree_his
 		 <set> 
			<if test="decisionTreeId != null">
				 decision_tree_id = #{decisionTreeId},
			</if>
			<if test="decisionTreeCode != null">
				 decision_tree_code = #{decisionTreeCode},
			</if>
			<if test="decisionTreeName != null">
				 decision_tree_name = #{decisionTreeName},
			</if>
			<if test="startTime != null">
				 start_time = #{startTime},
			</if>
			<if test="endTime != null">
				 end_time = #{endTime},
			</if>
			<if test="tplPercent != null">
				 tpl_percent = #{tplPercent},
			</if>
			<if test="executeType != null">
				 execute_type = #{executeType},
			</if>
			<if test="level != null">
				 level = #{level},
			</if>
			<if test="banControlTplId != null">
				 ban_control_tpl_id = #{banControlTplId},
			</if>
			<if test="fraudRuleTplId != null">
				 fraud_rule_tpl_id = #{fraudRuleTplId},
			</if>
			<if test="scoreTplId != null">
				 score_tpl_id = #{scoreTplId},
			</if>
			<if test="state != null">
				 state = #{state},
			</if>
			<if test="exchanges != null">
                 exchanges = #{exchanges},
            </if>
			<if test="version != null">
				 version = #{version},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="createName != null">
				 create_name = #{createName},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="modifyName != null">
				 modify_name = #{modifyName},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>
			<if test="recordNewtime != null">
				 record_newtime = #{recordNewtime},
			</if>
			<if test="implementType != null">
				 implement_type = #{implementType}
			</if>
 		 </set>
		 WHERE decision_tree_his_id = #{decisionTreeHisId}
	</update>
	
</mapper>