<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.ScFraudRuleDao">

	<resultMap type="com.shangyong.backend.entity.ScFraudRule" id="scFraudRuleMap">
		<id property="fraudRuleId" column="fraud_rule_id" javaType="java.lang.Integer"></id>
		<result property="fraudRuleCode" column="fraud_rule_code" javaType="java.lang.String"></result>
		<result property="fraudRuleBigId" column="fraud_rule_big_id" javaType="java.lang.Integer"></result>
		<result property="fraudRuleTplId" column="fraud_rule_tpl_id" javaType="java.lang.String"></result>
		<result property="fraudRuleTplName" column="fraud_rule_tpl_name" javaType="java.lang.String"></result>
		<result property="ruleName" column="rule_name" javaType="java.lang.String"></result>
		<result property="creditType" column="credit_type" javaType="java.lang.String"></result>
		<result property="ruleDetail" column="rule_detail" javaType="java.lang.String"></result>
		<result property="ruleComparisonValue" column="rule_comparison_value" javaType="java.lang.String"></result>
		<result property="ruleComparisonType" column="rule_comparison_type" javaType="java.lang.String"></result>
		<result property="state" column="state" javaType="java.lang.String"></result>
		<result property="validateRule" column="validate_rule" javaType="java.lang.String"></result>
		<result property="score" column="score" javaType="java.lang.String"></result>
		<result property="percent" column="percent" javaType="java.lang.String"></result>
		<result property="version" column="version" javaType="java.lang.Integer"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="createName" column="create_name" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="modifyName" column="modify_name" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
fraud_rule_id,	fraud_rule_code,	fraud_rule_big_id,	fraud_rule_tpl_id,	rule_name,	credit_type,	rule_detail,	rule_comparison_value,	rule_comparison_type,	state,	validate_rule,	score,	percent,	version,	create_time,	create_man,	create_name,	modify_time,	modify_man,	modify_name,	remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="scFraudRuleMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_fraud_rule
		 WHERE fraud_rule_id = #{fraudRuleId}
	</select>
	
	<!-- 查询（根据主键ID查询） -->
	<select id="queryByFraudRuleCode" resultMap="scFraudRuleMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_fraud_rule
		 WHERE fraud_rule_code = #{fraudRuleCode}
	</select>
	
	<select id="getSumPercent" resultType="java.lang.Double" parameterType="java.lang.String">
		 SELECT IFNULL(sum(percent),0)  FROM sc_fraud_rule	where state='01' and fraud_rule_tpl_id = #{fraudRuleTplId}
	</select>
	
	<!-- 查询（根据主键ID查询） -->
	<select id="queryByFraudRuleCodeAndTplId" resultMap="scFraudRuleMap" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_fraud_rule
		 WHERE fraud_rule_code = #{fraudRuleCode}
		 AND fraud_rule_tpl_id = #{fraudRuleTplId}
	</select>
	
	<!-- 查询（根据主键ID查询） -->
	<select id="queryByFraudRuleBigIdAndTplId" resultMap="scFraudRuleMap" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_fraud_rule
		 WHERE fraud_rule_big_id = #{fraudRuleBigId}
		 AND fraud_rule_tpl_id = #{fraudRuleTplId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="scFraudRuleMap" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 SELECT
			rule.fraud_rule_id,
			rule.fraud_rule_code,
			rule.fraud_rule_big_id,
			rule.fraud_rule_tpl_id,
			rule.rule_name,
			rule.credit_type,
			rule.rule_detail,
			rule.rule_comparison_value,
			rule.rule_comparison_type,
			rule.state,
			rule.validate_rule,
			rule.score,
			rule.percent,
			rule.version,
			rule.create_time,
			rule.create_man,
			rule.create_name,
			rule.modify_time,
			rule.modify_man,
			rule.modify_name,
			rule.remark,
			tpl.fraud_rule_tpl_name
		 FROM sc_fraud_rule rule left join sc_fraud_rule_tpl tpl on rule. fraud_rule_tpl_id = tpl.fraud_rule_tpl_id
		 <where>
 			<if test="fraudRuleCode != null and fraudRuleCode != '' ">
				  rule.fraud_rule_code = #{fraudRuleCode}
			</if>
			<if test="ruleName != null and ruleName != '' ">
			and instr(rule.rule_name, #{ruleName}) > 0
			</if>
			<if test="creditType != null and creditType != '' ">
				and rule.credit_type = #{creditType}
			</if>
			<if test="state != null and state != '' ">
				and rule.state = #{state}
			</if>
			<if test="fraudRuleBigId != null and fraudRuleBigId != '' ">
				and rule.fraud_rule_big_id = #{fraudRuleBigId}
			</if>
			<if test="fraudRuleTplId != null and fraudRuleTplId != '' ">
				and rule.fraud_rule_tpl_id = #{fraudRuleTplId}
			</if>
			<if test="fraudRuleId != null and fraudRuleId != '' ">
				and fraud_rule_id = #{fraudRuleId}
			</if>
		</where>
		order by fraud_rule_code asc 
	</select>
	
	<!-- 查询（根据主键ID查询） -->
	<select id="listAllCount" resultType="java.lang.Integer" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 SELECT
		 count(1)
		 FROM sc_fraud_rule
		 <where>
 			<if test="fraudRuleCode != null and fraudRuleCode != '' ">
				  fraud_rule_code = #{fraudRuleCode}
			</if>
			<if test="ruleName != null and ruleName != '' ">
			and  instr(rule_name, #{ruleName}) > 0
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<if test="state != null and state != '' ">
				and state = #{state}
			</if>
			<if test="fraudRuleBigId != null and fraudRuleBigId != '' ">
				and fraud_rule_big_id = #{fraudRuleBigId}
			</if>
			<if test="fraudRuleTplId != null and fraudRuleTplId != '' ">
				and fraud_rule_tpl_id = #{fraudRuleTplId}
			</if>
			<if test="fraudRuleId != null and fraudRuleId != '' ">
				and fraud_rule_id = #{fraudRuleId}
			</if>
		</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.Integer">
		 DELETE FROM sc_fraud_rule
		 WHERE fraud_rule_id = #{fraudRuleId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.ScFraudRule"  useGeneratedKeys="true" keyProperty="fraudRuleId">
		 INSERT INTO sc_fraud_rule
 		(fraud_rule_id,fraud_rule_code,fraud_rule_big_id,fraud_rule_tpl_id,rule_name,credit_type,rule_detail,rule_comparison_value,rule_comparison_type,state,validate_rule,score,percent,version,create_time,create_man,create_name,modify_time,modify_man,modify_name,remark) 
		 VALUES 
 		(#{fraudRuleId},#{fraudRuleCode},#{fraudRuleBigId},#{fraudRuleTplId},#{ruleName},#{creditType},#{ruleDetail},#{ruleComparisonValue},#{ruleComparisonType},#{state},#{validateRule},#{score},#{percent},#{version},#{createTime},#{createMan},#{createName},#{modifyTime},#{modifyMan},#{modifyName},#{remark}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 UPDATE sc_fraud_rule
 		 <set> 
			<if test="fraudRuleCode != null">
				 fraud_rule_code = #{fraudRuleCode},
			</if>
			<if test="fraudRuleTplId != null">
				 fraud_rule_tpl_id = #{fraudRuleTplId},
			</if>
			<if test="ruleName != null">
				 rule_name = #{ruleName},
			</if>
			<if test="creditType != null">
				 credit_type = #{creditType},
			</if>
			<if test="ruleDetail != null">
				 rule_detail = #{ruleDetail},
			</if>
			<if test="ruleComparisonValue != null">
				 rule_comparison_value = #{ruleComparisonValue},
			</if>
			<if test="ruleComparisonType != null">
				 rule_comparison_type = #{ruleComparisonType},
			</if>
			<if test="state != null">
				 state = #{state},
			</if>
			<if test="validateRule != null">
				 validate_rule = #{validateRule},
			</if>
			<if test="score != null">
				 score = #{score},
			</if>
			<if test="percent != null">
				 percent = #{percent},
			</if>
			<if test="version != null">
				 version = #{version},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="createName != null">
				 create_name = #{createName},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="modifyName != null">
				 modify_name = #{modifyName},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE fraud_rule_id = #{fraudRuleId}
	</update>


<!-- 循环添加 -->
	<insert id="saveListEntity" parameterType="java.util.List">
	 INSERT INTO sc_fraud_rule
        (fraud_rule_code,fraud_rule_tpl_id,fraud_rule_big_id,rule_name,credit_type,rule_detail,rule_comparison_value,rule_comparison_type,state,validate_rule,score,percent,version,create_time,create_man,modify_time,modify_man,remark,create_name,modify_name) 
		  VALUES 
		  <foreach collection="list" item="item" index="index" separator="," >
 		(#{item.fraudRuleCode},#{item.fraudRuleTplId},#{item.fraudRuleBigId},#{item.ruleName},#{item.creditType},#{item.ruleDetail},#{item.ruleComparisonValue},#{item.ruleComparisonType},#{item.state},#{item.validateRule},#{item.score},#{item.percent},#{item.version},#{item.createTime},#{item.createMan},#{item.modifyTime},#{item.modifyMan},#{item.remark},#{item.createName},#{item.modifyName})
		</foreach> 
	</insert>
	
	<!-- 查询模板  --> 
 	<select id="listAllTemplateCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		 SELECT count(1)  
 		 FROM sc_fraud_rule
			 <where>
			 	fraud_rule_tpl_id = #{defaultTemplates}
			and fraud_rule_code not in (
			select fraud_rule_code
			from
			sc_fraud_rule
			where fraud_rule_tpl_id = #{fraudRuleTplId}
			)
 			<if test="fraudRuleCode != null and fraudRuleCode != '' ">
				 and fraud_rule_code = #{fraudRuleCode}
			</if>
			<if test="ruleName != null and ruleName != '' ">
			and instr(rule_name, #{ruleName}) > 0
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<if test="state != null and state != '' ">
				and state = #{state}
			</if>
		</where>
 	</select>
 	
 	<!-- 查询模板 分页 -->  
 	 <select id="findAllTemplate" resultMap="scFraudRuleMap" 	parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM sc_fraud_rule
				 <where>
			fraud_rule_tpl_id = #{defaultTemplates}
			and fraud_rule_code not in (
			select fraud_rule_code
			from
			sc_fraud_rule
			where fraud_rule_tpl_id = #{fraudRuleTplId}
			) 
 			<if test="fraudRuleCode != null and fraudRuleCode != '' ">
				 and fraud_rule_code = #{fraudRuleCode}
			</if>
			<if test="ruleName != null and ruleName != '' ">
			and  instr(rule_name, #{ruleName}) > 0
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<if test="state != null and state != '' ">
				and state = #{state}
			</if>
		</where>
			 order by create_time desc 
   		 	<!-- LIMIT #{pageIndex},#{pageSize}  -->
	 </select>
	 
	 <!-- 查询当前模板信息 分页 -->  
 	 <select id="findTemplate" resultMap="scFraudRuleMap" 	parameterType="com.shangyong.backend.entity.ScFraudRule">
		SELECT
		<include refid="Base_Column_List" />
		FROM sc_fraud_rule
				 <where>
			 fraud_rule_tpl_id = #{fraudRuleTplId}
 			<if test="fraudRuleCode != null and fraudRuleCode != '' ">
				 and fraud_rule_code = #{fraudRuleCode}
			</if>
			<if test="ruleName != null and ruleName != '' ">
		and	 instr(rule_name, #{ruleName}) > 0
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<if test="state != null and state != '' ">
				and state = #{state}
			</if>
		</where>
		order by create_time desc 
   		<!-- LIMIT #{pageIndex},#{pageSize}  -->
	 </select>
		 
	<!-- 查询当前模板信息  --> 
 	<select id="listTemplateCount" resultType="java.lang.Integer" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 SELECT count(1)  
 		 FROM sc_fraud_rule 
 		 	 <where>
			 fraud_rule_tpl_id = #{fraudRuleTplId}
 			<if test="fraudRuleCode != null and fraudRuleCode != '' ">
				 and fraud_rule_code = #{fraudRuleCode}
			</if>
			<if test="ruleName != null and ruleName != '' ">
			and instr(rule_name, #{ruleName}) > 0
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<if test="state != null and state != '' ">
				and state = #{state}
			</if>
		</where>
 	</select>

<!-- 修 改-->
	<update id="updateFraudRuleByBigId" parameterType="com.shangyong.backend.entity.ScFraudRule">
		 UPDATE sc_fraud_rule
 		 <set> 
			<if test="state != null">
				 state = #{state},
			</if>
 		 </set>
		 WHERE fraud_rule_big_id = #{fraudRuleBigId}
	</update>
	
	  <!-- 加载树菜单 -->
	<select id="getScFraudRuleTree" resultType="com.shangyong.backend.bo.ZTree" parameterType="java.lang.String">
SELECT a.credit_type as id, CONCAT("000") as pId,
  CONCAT((CASE a.credit_type 
WHEN 01 THEN '同盾'
WHEN 02 THEN '聚信立蜜蜂' 
WHEN 03 THEN '聚信立蜜罐'
WHEN 04 THEN '芝麻信用' 
WHEN 05 THEN '91信用卡'
WHEN 06 THEN '宜信' 
WHEN 07 THEN '中智诚'
END),"--",SUM(a.percent)*100,"%" ) as name from sc_fraud_rule_big a  GROUP BY a.credit_type 
union all
SELECT  CONCAT("big",b.fraud_rule_big_id) as id ,b.credit_type as pId,  CONCAT(b.fraud_rule_name,"--",b.percent*100,"%" ) as name from sc_fraud_rule_big b
union all
SELECT  CONCAT("small",c.fraud_rule_id) as id ,CONCAT("big",c.fraud_rule_big_id) as pId, CONCAT(c.rule_name,"--",c.percent*100,"%" )  as name from sc_fraud_rule c where c.fraud_rule_tpl_id=#{fraudRuleTplId}
union all
select CONCAT("000") as id,CONCAT("00") as pId,
CONCAT("欺诈项树形图--",SUM(d.percent)*100,"%") as name from sc_fraud_rule_big d 
	</select>

</mapper>