<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.ScFraudScoreDetailDao">

	<resultMap type="com.shangyong.backend.entity.ScFraudScoreDetail" id="scFraudScoreDetailMap">
		<id property="fraudScoreDetailId" column="fraud_score_detail_id" javaType="java.lang.String"></id>
		<result property="applicationId" column="application_id" javaType="java.lang.String"></result>
		<result property="fraudRuleId" column="fraud_rule_id" javaType="java.lang.String"></result>
		<result property="ruleName" column="rule_name" javaType="java.lang.String"></result>
		<result property="score" column="score" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="fraudTplId" column="fraud_tpl_id" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		fraud_score_detail_id,	application_id,	fraud_rule_id,	rule_name,	score,	create_time,	remark,fraud_tpl_id
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="scFraudScoreDetailMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_fraud_score_detail
		 WHERE fraud_score_detail_id = #{fraudScoreDetailId}
	</select>
	<!-- 查询（根据主键ID查询） -->
	<select id="queryAllScore" resultMap="scFraudScoreDetailMap" parameterType="com.shangyong.backend.entity.ScFraudScoreDetail">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_fraud_score_detail
		 WHERE application_id = #{applicationId}
		 AND fraud_tpl_id = #{fraudTplId}
	</select>

	<!-- 查询 -->
	<select id="findAll" resultMap="scFraudScoreDetailMap" parameterType="java.lang.String">
		 SELECT
		 a.fraud_score_detail_id,
		 a.application_id,
		 a.fraud_rule_id,
		 a.rule_name,	
		 a.score,
		 a.create_time,
		 a.remark
		 FROM sc_fraud_score_detail a, bu_application b 
		 where a.application_id = b.application_id
   		 <if test="applicationId != null and applicationId != ''">
		 	and b.application_id = #{applicationId}
 		</if>
	    <if test="applicationBuId != null and applicationBuId != ''">
		 	and b.application_bu_id = #{applicationBuId}
 		</if>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.String">
		 DELETE FROM sc_fraud_score_detail
		 WHERE fraud_score_detail_id = #{fraudScoreDetailId}
	</delete>
	
	<!--删除：根据申ID和规则ID删除-->
	<delete id="deleteByAppId" parameterType="com.shangyong.backend.entity.ScFraudScoreDetail">
		 DELETE FROM sc_fraud_score_detail
		 WHERE application_id = #{applicationId}
	</delete>
	<!--删除：根据申ID和规则ID删除-->
	<delete id="deleteByAppIdAndFraudRuleId" parameterType="com.shangyong.backend.entity.ScFraudScoreDetail">
		 DELETE FROM sc_fraud_score_detail
		 WHERE application_id = #{applicationId}
		 AND fraud_rule_id = #{fraudRuleId}
		 AND fraud_tpl_id = #{fraudTplId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.ScFraudScoreDetail">
		 INSERT INTO sc_fraud_score_detail
 		(fraud_score_detail_id,application_id,fraud_rule_id,rule_name,score,create_time,remark,fraud_tpl_id) 
		 VALUES 
 		(#{fraudScoreDetailId},#{applicationId},#{fraudRuleId},#{ruleName},#{score},#{createTime},#{remark},#{fraudTplId}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.ScFraudScoreDetail">
		 UPDATE sc_fraud_score_detail
 		 <set> 
			<if test="applicationId != null">
				 application_id = #{applicationId},
			</if>
			<if test="fraudRuleId != null">
				 fraud_rule_id = #{fraudRuleId},
			</if>
			<if test="ruleName != null">
				 rule_name = #{ruleName},
			</if>
			<if test="score != null">
				 score = #{score},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE fraud_score_detail_id = #{fraudScoreDetailId}
	</update>
	
	<select id="listAllCount" resultType="java.lang.Integer" parameterType="com.shangyong.backend.entity.ScFraudScoreDetail">
		 SELECT
			COUNT(1)
		 FROM sc_fraud_score_detail
		 <where>
		 	<if test="applicationId != null and applicationId != ''">
				 application_id = #{applicationId}
			</if>
			<if test="ruleName != null and ruleName != '' ">
				and  instr(rule_name, #{ruleName}) > 0 
			</if>
			<if test="fraudRuleId != null and fraudRuleId !=''">
				and fraud_rule_id = #{fraudRuleId}
			</if> 
			<if test="score != null and score !=''">
				and score = #{score}
			</if> 
		 </where>  
	</select>

	<!-- 查询所有分数 （匹配申请单编号） -->
	<select id="findAllScore" resultType="java.lang.String" parameterType="java.lang.String">
		 SELECT sum(score) FROM sc_fraud_score_detail where application_id = #{id}
	</select>
	
	
   <resultMap type="com.shangyong.backend.entity.ScoreDetailStatistics" id="scoreDetailStatisticsMap">
 		<result property="name" column="name" javaType="java.lang.String"></result>
 		<result property="count" column="count" javaType="java.lang.Integer"></result>
 		 <result property="scoreName" column="scoreName" javaType="java.lang.String"></result>
 		 <result property="scoreSmallCode" column="scoreSmallCode" javaType="java.lang.String"></result>
 		 <result property="scoreBigCode" column="scoreBigCode" javaType="java.lang.String"></result>
 		 <result property="value" column="value" javaType="java.lang.Integer"></result>
 		 <result property="scoreSmallId" column="score_small_id" javaType="java.lang.String"></result>
 	     <result property="tplName" column="tpl_name" javaType="java.lang.String"></result>
 		 <result property="scoreTplId" column="score_tpl_id"></result>
	</resultMap>


	<!--统计欺诈分小表中规则名称及出现次数 -->
	<select id="getSmallStatistics"  resultMap="scoreDetailStatisticsMap" parameterType="java.lang.String">
		select count(b.fraud_rule_id) as count,a.rule_name as name ,c.fraud_rule_name  as scoreName  ,a.fraud_rule_code as scoreSmallCode  ,a.fraud_rule_id as scoreSmallId ,d.fraud_rule_tpl_name as tplName
		from sc_fraud_rule a
		left join sc_fraud_score_detail b on a.fraud_rule_id= b.fraud_rule_id 
		left join  sc_fraud_rule_big c   on a.fraud_rule_big_id=c.fraud_rule_big_id
		left join  sc_fraud_rule_tpl d   on a.fraud_rule_tpl_id=d.fraud_rule_tpl_id  
		<where>
		    <if test="scoreTplId != '' and scoreTplId != null" >
	    	       a.fraud_rule_tpl_id = #{scoreTplId} 
	         </if>
		     <if test="beginTime != '' and beginTime != null" >
	    	    <![CDATA[ and b.create_time >= #{beginTime} ]]>
	         </if>
	   	     <if test="endTime != '' and endTime != null" >
	    	    <![CDATA[ and b.create_time <= #{endTime} ]]>
	         </if>
		</where>
		GROUP BY a.fraud_rule_id order by  count DESC , scoreSmallCode 
		LIMIT #{pageIndex},#{pageSize}
	</select>


	<!--统计欺诈分小表中规则名称及出现次数的总条数 -->
	<select id="getSmallStatisticsCount" resultType="java.lang.Integer"  parameterType="java.lang.String">
		select COUNT(1) from (
		select count(b.fraud_rule_id) as count,a.rule_name as name ,c.fraud_rule_name  as scoreName  ,a.fraud_rule_code as scoreSmallCode 
		from sc_fraud_rule a
		left join sc_fraud_score_detail b on a.fraud_rule_id= b.fraud_rule_id 
		left join  sc_fraud_rule_big c   on a.fraud_rule_big_id=c.fraud_rule_big_id  
		left join  sc_fraud_rule_tpl d   on a.fraud_rule_tpl_id=d.fraud_rule_tpl_id  
		<where>
		    <if test="scoreTplId != '' and scoreTplId != null" >
	    	       a.fraud_rule_tpl_id = #{scoreTplId} 
	         </if>
			 <if test="beginTime != '' and beginTime != null" >
	    	    <![CDATA[ and b.create_time >= #{beginTime} ]]>
	         </if>
	   	     <if test="endTime != '' and endTime != null" >
	    	    <![CDATA[ and b.create_time <= #{endTime} ]]>
	         </if>
		</where>
		GROUP BY a.fraud_rule_id order by  count DESC ) c
	</select>
	
	<!--统计欺诈分小表中规则名称及出现次数（饼形图） -->
	<select id="getSmallStatisticsPie"  resultMap="scoreDetailStatisticsMap" parameterType="java.lang.String">
		select count(b.fraud_rule_id) as count,count(b.fraud_rule_id) as value,a.rule_name as name ,c.fraud_rule_name  as scoreName  ,a.fraud_rule_code as scoreSmallCode  
		from sc_fraud_rule a
		left join sc_fraud_score_detail b on a.fraud_rule_id= b.fraud_rule_id 
		left join  sc_fraud_rule_big c   on a.fraud_rule_big_id=c.fraud_rule_big_id  
		<where>
		   <if test="scoreTplId != '' and scoreTplId != null" >
	    	       a.fraud_rule_tpl_id = #{scoreTplId} 
	         </if>
			 <if test="beginTime != '' and beginTime != null" >
	    	    <![CDATA[ and b.create_time >= #{beginTime} ]]>
	         </if>
	   	     <if test="endTime != '' and endTime != null" >
	    	    <![CDATA[ and b.create_time <= #{endTime} ]]>
	         </if>
		</where>
		GROUP BY a.fraud_rule_id order by  count DESC
 	</select>
</mapper>