<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.ScScoreBigHisDao">

	<resultMap type="com.shangyong.backend.entity.ScScoreBig" id="scScoreBigHisinfoMap">
	  <id property="bigHisId" column="big_his_id" javaType="java.lang.Integer"></id>
 		<result property="scoreBigId" column="score_big_id" javaType="java.lang.Integer"></result>
		<result property="creditType" column="credit_type" javaType="java.lang.String"></result>
		<result property="scoreName" column="score_name" javaType="java.lang.String"></result>
		<result property="scoreBigCode" column="score_big_code" javaType="java.lang.String"></result>
		<result property="scoreRuleDetail" column="score_rule_detail" javaType="java.lang.String"></result>
		<result property="state" column="state" javaType="java.lang.String"></result>
		<result property="version" column="version" javaType="java.lang.Integer"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="createName" column="create_name" javaType="java.lang.String"></result>
		<result property="modifyName" column="modify_name" javaType="java.lang.String"></result> 
		<result property="percent" column="percent" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.ScScoreBig">
		INSERT INTO
		sc_score_big_his
		(score_big_id,credit_type,score_name,score_big_code,score_rule_detail,state,version,create_time,create_man,modify_time,modify_man,remark,create_name,modify_name,record_newtime,percent)
		VALUES
		(#{scoreBigId},#{creditType},#{scoreName},#{scoreBigCode},#{scoreRuleDetail},#{state},#{version},#{createTime},#{createMan},#{modifyTime},#{modifyMan},#{remark},#{createName},#{modifyName},NOW(),#{percent})
	</insert>
	
	
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
big_his_id,score_big_id,	credit_type,	score_name,	score_big_code,	score_rule_detail,	state,	version,	create_time,	create_man,	modify_time,	modify_man,	remark,create_name,modify_name ,record_newtime,percent
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="scScoreBigHisinfoMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_score_big_his
		 WHERE big_his_id = #{bigHisId}
	</select>
 

	<!-- 根据对象查询list列表 -->
	<select id="getAll" resultMap="scScoreBigHisinfoMap"  parameterType="com.shangyong.backend.entity.ScScoreBig">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sc_score_big_his
		   <where>
 			<if test="scoreBigCode != null and scoreBigCode != '' ">
				  score_big_code = #{scoreBigCode}
			</if>
			<if test="scoreName != null and scoreName != '' ">
				and score_name = #{scoreName}
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<!-- 状态 -->
			<if test="state != null and state != ''">
				and state = #{state}
			</if>
			<!-- 评分卡大类序号（主键自增id）， 提供给'向'接口需要用到 -->
			<if test="scoreBigId != null and scoreBigId != ''">
				and score_big_id = #{scoreBigId}
			</if>
			<!-- 时间区间查询用到 -->
			<if test="startTimeInterval != null and startTimeInterval != '' ">
				and <![CDATA[ record_newtime > #{startTimeInterval}  ]]>
			</if>
			<if test="endTimeInterval != null and endTimeInterval != '' ">
				and <![CDATA[ record_newtime < #{endTimeInterval} ]]>
			</if>
		</where>
		order by modify_time DESC
		LIMIT #{pageIndex},#{pageSize}
	</select>

<!-- 查询  -->
	<select id="listAllCount" resultType="java.lang.Integer">
		 SELECT count(1)  
 		 FROM sc_score_big_his
		    <where>
 			<if test="scoreBigCode != null and scoreBigCode != '' ">
				  score_big_code = #{scoreBigCode}
			</if>
			<if test="scoreName != null and scoreName != '' ">
				and score_name = #{scoreName}
			</if>
			<if test="creditType != null and creditType != '' ">
				and credit_type = #{creditType}
			</if>
			<if test="startTimeInterval != null and startTimeInterval != '' ">
				and <![CDATA[ record_newtime > #{startTimeInterval}  ]]>
			</if>
			<if test="endTimeInterval != null and endTimeInterval != '' ">
				and <![CDATA[ record_newtime < #{endTimeInterval} ]]>
			</if>
		</where>
 	</select>
	

</mapper>