<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.sh.ShCreditPromptDao">

	<resultMap type="com.shangyong.backend.entity.sh.ShCreditPrompt" id="shCreditPromptMap">
		<id property="shCreditPromptId" column="sh_credit_prompt_id" javaType="java.lang.String"></id>
		<result property="applicationId" column="application_id" javaType="java.lang.String"></result>
		<result property="promptProject" column="prompt_project" javaType="java.lang.String"></result>
		<result property="promptMessage" column="prompt_message" javaType="java.lang.String"></result>
		<result property="promptTime" column="prompt_time" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
sh_credit_prompt_id,	application_id,	prompt_project,	prompt_message,	prompt_time,	create_time,	create_man,	modify_time,	modify_man,	remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="shCreditPromptMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sh_credit_prompt
		 WHERE sh_credit_prompt_id = #{shCreditPromptId}
	</select>
	<!-- 查询（根据ApplicationId查询） -->
	<select id="queryByApplicationId" resultMap="shCreditPromptMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sh_credit_prompt
		 WHERE application_id = #{applicationId}
	</select>
	

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="shCreditPromptMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sh_credit_prompt
		 WHERE sh_credit_prompt_id = #{shCreditPromptId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.String">
		 DELETE FROM sh_credit_prompt
		 WHERE sh_credit_prompt_id = #{shCreditPromptId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.sh.ShCreditPrompt">
		 INSERT INTO sh_credit_prompt
 		(sh_credit_prompt_id,application_id,prompt_project,prompt_message,prompt_time,create_time,create_man,modify_time,modify_man,remark) 
		 VALUES 
 		(#{shCreditPromptId},#{applicationId},#{promptProject},#{promptMessage},#{promptTime},#{createTime},#{createMan},#{modifyTime},#{modifyMan},#{remark}) 
	</insert>
	<!-- 批量插入 -->
	<insert id="saveAllEntity" parameterType="java.util.List">
		INSERT INTO sh_credit_prompt
 		(sh_credit_prompt_id,application_id,prompt_project,prompt_message,prompt_time,create_time,create_man,modify_time,modify_man,remark) 
		 VALUES 
 	    <foreach collection="list" item="item" index="index" separator="," >  
 		(#{item.shCreditPromptId},#{item.applicationId},#{item.promptProject},#{item.promptMessage},#{item.promptTime},#{item.createTime},#{item.createMan},#{item.modifyTime},#{item.modifyMan},#{item.remark}) 
	    </foreach>
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.sh.ShCreditPrompt">
		 UPDATE sh_credit_prompt
 		 <set> 
			<if test="applicationId != null">
				 application_id = #{applicationId},
			</if>
			<if test="promptProject != null">
				 prompt_project = #{promptProject},
			</if>
			<if test="promptMessage != null">
				 prompt_message = #{promptMessage},
			</if>
			<if test="promptTime != null">
				 prompt_time = #{promptTime},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE sh_credit_prompt_id = #{shCreditPromptId}
	</update>

</mapper>