<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.tdf.TdFacilityHitRuleServiceDao">

	<resultMap type="com.shangyong.backend.entity.tdf.TdFacilityHitRule" id="tdFacilityHitRuleinfoMap">
		<id property="tdFacilityHitRuleId" column="td_facility_hit_rule_id" javaType="java.lang.String"></id>
		<result property="buApplicationId" column="bu_application_id" javaType="java.lang.String"></result>
		<result property="decision" column="decision" javaType="java.lang.String"></result>
		<result property="score" column="score" javaType="java.lang.String"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="uuid" column="uuid" javaType="java.lang.String"></result>
		<result property="parentUuid" column="parentUuid" javaType="java.lang.String"></result>
		<result property="id" column="id" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	td_facility_hit_rule_id,	bu_application_id,	decision,	score,	name,	uuid,	parentUuid,	id,	create_time,	create_man,	modify_time,	modify_man,	remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="tdFacilityHitRuleinfoMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM td_facility_hit_rule
		 WHERE td_facility_hit_rule_id = #{tdFacilityHitRuleId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="getAll" resultMap="tdFacilityHitRuleinfoMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM td_facility_hit_rule
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.String">
		 DELETE FROM td_facility_hit_rule
		 WHERE td_facility_hit_rule_id = #{tdFacilityHitRuleId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.tdf.TdFacilityHitRule">
		 INSERT INTO td_facility_hit_rule
 		(td_facility_hit_rule_id,bu_application_id,decision,score,name,uuid,parentUuid,id,create_time,create_man,modify_time,modify_man,remark) 
		 VALUES 
 		(#{tdFacilityHitRuleId},#{buApplicationId},#{decision},#{score},#{name},#{uuid},#{parentUuid},#{id},#{createTime},#{createMan},#{modifyTime},#{modifyMan},#{remark}) 
	</insert>
	
		<!-- 批量插入 -->
	<insert id="saveAllEntity" parameterType="java.util.List">
		 INSERT INTO td_facility_hit_rule
 		(td_facility_hit_rule_id,bu_application_id,decision,score,name,uuid,parentUuid,id,create_time,create_man,modify_time,modify_man,remark) 
		 VALUES 
 	    <foreach collection="list" item="item" index="index" separator="," >  
 		(#{item.tdFacilityHitRuleId},#{item.buApplicationId},#{item.decision},#{item.score},#{item.name},#{item.uuid},#{item.parentUuid},#{item.id},#{item.createTime},#{item.createMan},#{item.modifyTime},#{item.modifyMan},#{item.remark}) 
	    </foreach>
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.shangyong.backend.entity.tdf.TdFacilityHitRule">
		 UPDATE td_facility_hit_rule
 		 <set> 
			<if test="buApplicationId != null">
				 bu_application_id = #{buApplicationId},
			</if>
			<if test="decision != null">
				 decision = #{decision},
			</if>
			<if test="score != null">
				 score = #{score},
			</if>
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="uuid != null">
				 uuid = #{uuid},
			</if>
			<if test="parentUuid != null">
				 parentUuid = #{parentUuid},
			</if>
			<if test="id != null">
				 id = #{id},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE td_facility_hit_rule_id = #{tdFacilityHitRuleId}
	</update>

</mapper>