<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.backend.dao.xczx.XczxQueryUserLogDao">

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.shangyong.backend.entity.xczx.XczxQueryUserLog" useGeneratedKeys="true" keyProperty="scoreCreditId">
		 INSERT INTO xczx_query_user_log
 		(application_query_id,real_name,id_card,create_time,modify_time,type) 
		 VALUES 
 		(#{applicationQueryId},#{realName},#{idCard},#{createTime},#{modifyTime},#{type}) 
	</insert>
</mapper>