<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>app应用列表</title>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
<!-- js -->
<script src="../../jqery/jquery.js"></script>
<script src="../../../commons/base.js"></script>
<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
<script type="text/javascript"
	src="../../js/approveDetails/appInfoList.js"></script>
</head> 
<body>
	<div class="admin-main">
		<fieldset class="layui-elem-field"> 
		<div class="layui-field-box layui-form" >
			<legend style="margin-left: -0.2cm">app应用列表</legend>
				<table class="layui-table" id="appyylb"></table>
			</div> 
		</fieldset> 
	</div>
</body>
</html>