<!DOCTYPE html>
<html>
  <head>
    <title>STEP2-案件详细页子页2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../css/global.css" media="all">
	<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/table.css" />
	<link rel="stylesheet" href="../../css/styles.css" />
	<link rel="stylesheet" href="../../css/axure_rp_page.css" />
	<link rel="stylesheet" href="../../css/approveDetailsForsearch.css" />
	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/approveDetails/approveDetailsForSearch.js"></script>
	
	
	
	
</head>
  <body >
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1577" class="ax_default box_3">
        <div id="u1577_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1578" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u1579" class="ax_default placeholder">
        <img id="u1579_img" class="img " src="../../images/u1579.png"/>
       <!--  Unnamed ()-->
        <div id="u1580" class="text" style="visibility: visible;">
          <p><span>WEB页面</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1581" class="ax_default primary_button">
        <div id="u1581_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1582" class="text" style="visibility: visible;">
			<p><span><a href="javascript:baiduSearch();">百度</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1583" class="ax_default primary_button">
        <div id="u1583_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1584" class="text" style="visibility: visible;">
          <p><span><a href="javascript:_360Search();">360搜索</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1585" class="ax_default primary_button">
        <div id="u1585_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1586" class="text" style="visibility: visible;">
          <p><span><a href="javascript:sougouSearch();">搜狗搜索</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1587" class="ax_default primary_button">
        <div id="u1587_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1588" class="text" style="visibility: visible;">
          <p><span><a href="javascript:bingSearch();">必应搜索</a></span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u1589" class="ax_default radio_button">
        <label for="u1589_input">
          <!-- Unnamed () -->
          <div id="u1590" class="text" style="visibility: visible;">
            <p><span>客户手机号</span></p>
          </div>
        </label>
        <input id="u1589_input" type="radio" value="" name="info"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u1591" class="ax_default radio_button">
        <label for="u1591_input">
          <!-- Unnamed () -->
          <div id="u1592" class="text" style="visibility: visible;">
            <p><span>客户身份证</span></p>
          </div>
        </label>
        <input id="u1591_input" type="radio" value="" name="info"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u1593" class="ax_default radio_button">
        <label for="u1593_input">
          <!-- Unnamed () -->
          <div id="u1594" class="text" style="visibility: visible;">
            <p><span>客户公司名称</span></p>
          </div>
        </label>
        <input id="u1593_input" type="radio" value="" name="info"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1595" class="ax_default primary_button">
        <div id="u1595_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1596" class="text" style="visibility: visible;">
          <p><span><a href="javascript:tianYanSearch();">天眼查</a></span></p>
        </div>
      </div>
	  <!-- <div id="u1595" class="ax_default primary_button">
        <div id="u1595_div" class=""></div>
        <div id="u1596" class="text" style="visibility: visible;">
          <p><span><a href="javascript:excuteInfo();">执行信息</a></span></p>
        </div>
      </div> -->

		<!-- Unnamed (矩形) -->
    	<!--<div id="u1597" class="ax_default primary_button">
        <div id="u1597_div" class=""></div>-->
        <!-- Unnamed () -->
		<!-- <div id="u1598" class="text" style="visibility: visible;">
			<p><span>贷联盟</span></p>
		</div>
      </div>-->
      <!-- Unnamed (单选按钮) -->
      <div id="u1599" class="ax_default radio_button">
        <label for="u1599_input">
          <!-- Unnamed () -->
          <div id="u1600" class="text" style="visibility: visible;">
            <p><span>客户邮箱</span></p>
          </div>
        </label>
        <input id="u1599_input" type="radio" value="" name="info"/>
      </div>
    </div>
  </body>
</html>
