<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<!-- JS -->
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script src="../../jqery/jquery.js"></script>
		<script type="text/javascript" src="../../../commons/base.js"></script>
		<script type="text/javascript" src="../../js/approveDetails/getTimes.js"></script>
	</head>
	<body>
		<div class="admin-main">
			<form class="layui-form" id="userForms" >
				<table class="layui-table" >
					<tbody id="tbody_id">
						<tr>
							<th style="width: 170px;">页面名称</th>
							<th >停留时长</th>
						</tr>
						<tr>
							<th>身份证正面</th>
							<td ><font id="zl"></font></td>
						</tr>
						<tr>
							<th>身份证反面</th>
							<td ><font id="fl"></font></td>
						</tr>
						<tr>
							<th>学历文凭</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>婚姻状况</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>工作单位</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>绑定银行卡</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>手机运营商</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>人脸识别</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>人脸识别</th>
							<td ><font id=""></font></td>
						</tr>
						<tr>
							<th>签订合同</th>
							<td ><font id="lb"></font></td>
						</tr>
						<tr>
							<th>个人信息提交时长</th>
							<td ><font id="xi"></font></td>
						</tr> 
					</tbody>
				</table> 
			</form>
		</div> 
	</body>
</html>