<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
		<META HTTP-EQUIV="expires" CONTENT="0">
		<title>Table</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
	</head>
	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				 <form class="layui-form" action="">
					  <div class="layui-form-item">
					  	 <div class="layui-inline">
						      <label class="layui-form-label">APP名称：</label>
						      <div class="layui-input-inline">
						        <select name="appChannel" id="appChannel">
<!-- 						          <option value="0">全部</option> -->
						          <option value="1">洪澄</option>
						          <option value="2">速贷</option>
						        </select>
						      </div>
						  </div>
					      <div class="layui-inline">
						      <label class="layui-form-label">时间：</label>
						      <div class="layui-input-inline" style="width: 100px;">
									<input name="startTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" lay-verify="startTime" id="startTime" autocomplete="off" class="layui-input" >
							  </div>
						      <div class="layui-form-mid">-</div>
						      <div class="layui-input-inline" style="width: 100px;">
							   		<input name="endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" lay-verify="endTime" id="endTime" autocomplete="off" class="layui-input" >	
							  </div>
					      </div>
						  <div class="layui-inline">
						      <label class="layui-form-label" style="width: 16px;">按</label>
						      <div class="layui-input-inline">
						        <select name="calcUnit" id="calcUnit">
						          <option value="1">天</option>
						          <option value="2">月</option>
						          <option value="3">季度</option>
						          <option value="4">年</option>
						        </select>
						      </div>
					          <div class="layui-inline">
					   		       <label class="layui-form-label" style="text-align:left; width: 180px;">为单位逐条呈现查询结果</label>
					 		  </div>
						  </div>
						  <div class="layui-inline">
						      	<a href="javascript:;" class="layui-btn layui-btn-small" id="search">
									<i class="layui-icon">&#xe615;</i>搜索
						  		</a>
						  </div>
						  <br>
						 <table class="layui-table" lay-even lay-skin="nob" id="summaryTabId">
						  <colgroup>
						    <col width="150">
						    <col width="200">
						    <col>
						  </colgroup>
						  <tbody>
						    <tr>
						      <td>实际放款总额：</td>
						      <td>0.00 元</td>
						      <td>逾期待催缴金额：</td>
						      <td>0.00 元</td>
						      <td>合计实收利润：</td>
						      <td>0.00 元</td>
						      <td>合计利润总额：</td>
						      <td>0.00 元</td>
						    </tr>
						    <tr>
						      <td>收到还款总额：</td>
						      <td>0.00 元</td>
						      <td>合计服务费总收入：</td>
						      <td>0.00 元</td>
						      <td>合计应收利润：</td>
						      <td>0.00 元</td>
						    </tr>
						  </tbody>
						</table>
				    </div>
				</form>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>数据列表</legend>
				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table">
						<thead>
							<tr>
								<th>开始时间</th>
								<th>结束时间</th>
								<th>实际放款金额（元）</th>
								<th>收到还款金额（元）</th>
								<th>逾期待催缴金额（元）</th>
								<th>利息收入（元）</th>
								<th>账户管理费（元）</th>
								<th>信息审查费（元）</th>
								<th>合计服务费（元）</th>
								<th>逾期费收入（元）</th>
								<th>续期费收入（元）</th>
								<th>实收利润（元）</th>
								<th>应收利润（元）</th>
								<th>利润总额（元）</th>
							</tr>
						</thead>
						<tbody id="content">
						</tbody>
					</table>
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="paged" class="page">
				</div>
			</div>
		</div>
		
		<!--模板-->
		<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){ }}
			<tr>
				<td>{{ item.startTime }}</td>
				<td>{{ item.endTime }}</td>
				<td>{{ fmoney(item.loanSumMoney) }}</td>
				<td>{{ fmoney(item.hasRepaySumMoney) }}</td>
				<td>{{ fmoney(item.overdueSumMoney) }}</td>
				<td>{{ fmoney(item.sumLoanInterest) }}</td>
				<td>{{ fmoney(item.managementCost) }}</td>
				<td>{{ fmoney(item.inquiryFee) }}</td>
				<td>{{ fmoney(item.serviceSumMoney) }}</td>
				<td>{{ fmoney(item.sumDelayMoney) }}</td>
				<td>{{ fmoney(item.sumRenewalMoney) }}</td>
				<td>{{ fmoney(item.realIncomeProfit) }}</td>
				<td>{{ fmoney(item.shouldIncomeProfit) }}</td>
				<td>{{ fmoney(item.sumProfit) }}</td>
			</tr>
			{{# }); }}
		</script>
		
		<!-- js -->
		<script src="../../jqery/jquery.js"></script>
		<script src="../../../commons/base.js"></script>
		<script src="../../../index/js/date.js"></script>
		<!-- 日期控件 -->
	   <script language="javascript" type="text/javascript" src="../../My97DatePicker/WdatePicker.js"></script>
	   <script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	   <script type="text/javascript" src="../../js/analysis/incomeManage.js"></script>
	</body>

</html>