<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <title>Insert title here</title> -->
</head>
		<!-- css -->
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />

		<!-- JS -->
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script src="../../jqery/jquery.js"></script>
		<script type="text/javascript" src="../../../commons/base.js"></script>
		<script type="text/javascript" src="../../js/role/role_edit.js"></script>
		
		
<body>
	<div style="margin: 15px;">
	<form class="layui-form" id="userForms" >
		 
		<div class="layui-form-item">
			<label class="layui-form-label">角色名称</label>
			<div class="layui-input-inline">
				<input id="roleId" type="hidden" name="roleId"  autocomplete="off" class="layui-input" >
				<input id="roleName" type="text" name="roleName"  lay-verify="title"  placeholder="角色名称"  class="layui-input" >
			</div>
		</div>
	  	 
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input id="remark" type="text" name="remark"   placeholder="备注" autocomplete="off" class="layui-input">
			</div>
		</div>
		
		<button lay-submit lay-filter="save"  class="layui-btn" id="save_bt" style="margin-left: 180px;margin-top: 50px;" >保存</button>
		<button class="layui-btn layui-btn-normal" id="off_bt" onclick="closeIfrname()"  style="margin-left: 60px;margin-top: 49px;">取消</button>
		
	</form>
</div>
</body>
</html>