<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/table.css" />
		<link rel="stylesheet" href="../../css/lzh_login.css" media="all" />
	</head>

	<body>
		<div class="admin-main">
		

			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 添加角色
				</a>
<!-- 				<a href="#" class="layui-btn layui-btn-small" id="import"> -->
<!-- 					<i class="layui-icon">&#xe608;</i> 导入信息 -->
<!-- 				</a> -->
<!-- 				<a href="#" class="layui-btn layui-btn-small"> -->
<!-- 					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 导出信息 -->
<!-- 				</a> -->
<!-- 				<a href="#" class="layui-btn layui-btn-small" id="getSelected"> -->
<!-- 					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 多选删除 -->
<!-- 				</a> -->
				
				<!-- 查询条件 -->
				<div class="layui-inline">
			      <label class="layui-form-label">角色名称：</label>
			      <div class="layui-input-inline">
			        <input name="roleName" lay-verify="roleName" autocomplete="off" placeholder="支持模糊查询" class="layui-input"  id="roleName" >
			      </div>
			    </div>
			    
					<a href="javascript:;" class="layui-btn layui-btn-small" id="search">
						<i class="layui-icon">&#xe615;</i> 搜索
					</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>数据列表</legend>
				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table">
						<thead>
							<tr>
								<th style="width: 30px;">
								<input type="checkbox" lay-filter="allselector" lay-skin="primary"></th>
								<th>序号</th>
								<th>角色名称</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="content">
						</tbody>
					</table>
					<label>共<font color='red' id="count_page_number"></font>条记录</label>
					<div id="paged" class="page" style="display:inline-block;">
					</div>
				</div>
			</fieldset>
		</div>
		<!--模板-->
		<!-- admin的角色不能删除 -->
		<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){ }}
			<tr>
				<td><input type="checkbox" lay-skin="primary"></td>
				<td>{{ index+1 }}</td>
				<td>{{ item.roleName }}</td>
				<td>{{ item.remark }}</td>
				<td>
					<a href="javascript:;" data-id="{{ item.roleId }}" data-opt="role_user_zTree" class="layui-btn layui-btn-normal layui-btn-mini">角色用户</a>
					<a href="javascript:;" data-id="{{ item.roleId }}" data-opt="edit_zTree" class="layui-btn layui-btn-mini">权限设置</a>
					
					<a href="javascript:;" data-id="{{ item.roleId }}" data-opt="find" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>
					<a href="javascript:;" data-id="{{ item.roleId }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
					{{#	if(item.roleId!=13){ }}
						<a href="javascript:;" data-id="{{ item.roleId }}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
					{{# } }}
				</td>
			</tr>
			{{# }); }}
		</script>
		
		<!-- js -->
		<script src="../../jqery/jquery.js"></script>
		<script src="../../../commons/base.js"></script>
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script type="text/javascript" src="../../js/role/role_list.js"></script>
	</body>

</html>