<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
<title>评分卡大类配置历史查询</title>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
<link rel="stylesheet" href="../../css/lzh_xy_gl.css" media="all" />
</head>

<body>
	<div class="admin-main">

		<blockquote class="layui-elem-quote">
			<!-- 查询条件 -->
			 <form action="" class="layui-form" style="margin-top: 0px;">
				<div class="layui-inline">
			      <label class="layui-form-label" style="width: auto;">评分项名称：</label>
			      <div class="layui-input-inline">
			        <input name="scoreName" lay-verify="scoreName" id="scoreName" autocomplete="off" class="layui-input" >
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label" style="width: auto;">评分项规则大类编号：</label>
			      <div class="layui-input-inline">
			        <input name="scoreBigCode" lay-verify="scoreBigCode" id="scoreBigCode" autocomplete="off" class="layui-input" >
			      </div>
			    </div>
 
 			    <div class="layui-inline" >
					<label class="layui-form-label" style="width: auto;">征信机构类型：</label>
					<div class="layui-input-inline">
					        <select name="creditType" lay-filter="select" class="layui-input"  lay-search="" id="creditType" lay-verify="creditType" autocomplete="off">
					          <option value="00">--请选择--</option>
					          <option value="01">同盾</option>
					          <option value="02">聚信立蜜蜂</option>
					          <option value="03">聚信立蜜罐</option>
					          <option value="04">芝麻信用</option>
					          <option value="05">91征信</option>
					          <option value="06">宜信</option>
					          <option value="07">中智诚</option>
					        </select>
					</div>
				</div>
				
			    <div class="layui-inline">
			      <label class="layui-form-label" style="width: auto;">时间区间</label>
			      <div class="layui-input-inline">
			      <input name="startTime"  lay-verify="startTime" id="startTime" autocomplete="off" class="layui-input"  style="width: auto; display:inline;">
			      &nbsp;至&nbsp;
			      <input name="endTime"  lay-verify="endTime" id="endTime" autocomplete="off" class="layui-input"  style="width: auto; display:inline;">
			      </div>
			    </div>
					<a href="javascript:;" class="layui-btn layui-btn-small" id="search">
						<i class="layui-icon">&#xe615;</i> 搜索
					</a>
					</form>
		</blockquote>
		
		<fieldset class="layui-elem-field">
			<legend>数据列表</legend>
			<div class="layui-field-box layui-form">
				<table class="layui-table admin-table"  style="word-break: keep-all;overflow:auto;">
					<thead>
						<tr>
							<th>评分卡大类序号</th>
							<th>评分项名称</th>
							<th>评分项规则大类编号</th>
							<th>征信机构类型</th>
							<th>评分项规则明细</th>
							<th>状态</th>
							<th>权重</th>
							<th>版本编号</th>
							<th>创建人姓名</th>
							<th>修改人姓名</th>
							<th>创建时间</th>
							<th>修改时间</th>
 							<th>备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="content">
					</tbody>
				</table>
					<label>共<font color='red' id="count_page_number"></font>条记录</label>
					<div id="paged" class="page" style="display:inline-block;">
					</div>
			</div>
		</fieldset>
	</div>
	<!--模板-->
	<script type="text/html" id="tpl">
			{{# layui.each(d.list, function(index, item){ }}
			<tr>
				<td>{{ item.scoreBigId }}</td>
                <td>{{ item.scoreName }}</td>
				<td>{{ item.scoreBigCode }}</td>

                {{# if(item.creditType == '01'){ }}
				<td>同盾</td>
				{{# } else  if(item.creditType == '02') { }}
				<td>聚信立蜜蜂</td>
                {{# } else  if(item.creditType == '03') { }}
                <td>聚信立蜜罐</td>
                {{# } else  if(item.creditType == '04') { }}
                <td> 芝麻信用</td>
                {{# } else  if(item.creditType == '05') { }}
                <td> 91征信</td>
                {{# } else  if(item.creditType == '06') { }}
                <td> 宜信</td>
                {{# } else  if(item.creditType == '07') { }}
                <td> 中智诚</td>
                {{# } else  { }}
				<td> </td>
				{{# } }}

                <td>{{ item.scoreRuleDetail}}</td>

                {{# if(item.state == '01'){ }}
				<td>生效</td>
                {{# } else if(item.state == '02') { }}
                <td>失效</td>
				{{# } else  { }}
				<td></td>
				{{# } }}
<td>{{ item.percent }}</td>
                <td>{{ item.version }}</td>
				<td>{{ item.createName }}</td>
                <td>{{ item.modifyName }}</td>
 				<td>{{ item.createTime.substring(0, 19) }}</td>
                <td>{{ item.modifyTime.substring(0, 19) }}</td>
				<td>{{ item.remark }}</td>
				<td style="white-space: nowrap;">
   					<a href="javascript:;" data-id="{{ item.bigHisId }}" data-opt="edit" class="layui-btn layui-btn-mini">预览</a>
 				</td>
			</tr>
			{{# }); }}
		</script>

	<!-- js -->
	<script src="../../jqery/jquery.js"></script>
	<script src="../../../commons/base.js"></script>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../js/scScoreBig/scScoreBigHis.js"></script>
	<!-- 日期控件 -->
	<script language="javascript" type="text/javascript" src="../../My97DatePicker/WdatePicker.js"></script>
</body>

</html>